<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <title>Управление доступом</title>

        <script src="js/lib/angular.min.js" ></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/usersManagement/service.js"></script>
        <script src="js/app/usersManagement/controller.js"></script>
    </head>

    <body ng-app="Transportation" ng-controller="UsersManagementController as ctrl">
    <th:block th:include="_menu"></th:block>  
    <h3>
        УПРАВЛЕНИЕ ДОСТУПОМ
    </h3>
    <form ng-submit="ctrl.submit()">
        <table border="0">
            <tr ng-view="false">
                <td>ФИО:</td>
                <td><input type="text" ng-disabled="ctrl.user.id !== null" ng-model="ctrl.user.fullName" size="50"/></td>
            </tr>
            <tr ng-view="false">
                <td>Должность:</td>
                <td><input type="text" ng-model="ctrl.user.post" size="16"/></td>
            </tr>
            <tr ng-view="false">
                <td>Имя пользователя:</td>
                <td><input type="text" ng-disabled="ctrl.user.id !== null" ng-model="ctrl.user.username" size="16"/></td>
            </tr>
            <tr ng-show="ctrl.user.id === null">
                <td>Пароль:</td>
                <td><input type='password' name='password' ng-model="ctrl.user.password" size="16"/></td>
            </tr>
            <tr>
                <td>Подразделение:</td>
                <td>
                    <select ng-options="dep as dep.shortname for dep in ctrl.departments track by dep.id" ng-model="ctrl.user.department">
                        <option value="">нет</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Транспортный отдел:</td>
                <td>
                    <select ng-options="td as td.shortname for td in ctrl.transportDeps track by td.id" ng-model="ctrl.user.transportDep">
                        <option value="">нет</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Подчинены:</td>
                <td><span ng-repeat="dep in ctrl.user.departments" class="role-span">{{dep.shortname}} </span></td>
                <td>
                    <select ng-model="ctrl.subDep" >
                        <option ng-repeat="d in ctrl.departments" ng-value="d">{{d.shortname}}</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="delete-button" ng-click="ctrl.removeDep()"> - </button>
                    <button type="button" class="submit-button" ng-click="ctrl.addDep()">+</button>
                </td>
            </tr>
            <tr>
                <td>Права доступа:</td>
                <td><span ng-repeat="role in ctrl.user.roles" class="role-span">{{role.roleName}} </span></td>
                <td>
                    <select ng-model="ctrl.role" >
                        <option ng-repeat="r in ctrl.roles" ng-value="r">{{r.roleName}}</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="delete-button" ng-click="ctrl.removeRole()"> - </button>
                    <button type="button" class="submit-button" ng-click="ctrl.addRole()">+</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" ng-click="ctrl.reset()" class="delete-button">сброс</button></td>
                <td colspan="2">                        
                    <input type="submit" ng-value="ctrl.user.id===null?'создать':'изменить'" class="edit-button"/>
                </td>
            </tr>
        </table>
    </form>
    <br/> 
    <div>
        Поиск: <input type="text" ng-model="search" size="50"/>
    </div>
    <br/> 
    <table border="1">
        <tr>
            <th>Имя пользователя</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Подразделение</th>
            <th>Транспортный отдел</th>
            <th>Подчинённые подразделения</th>
            <th>Права доступа</th>
            <th></th>
        </tr>
        <!-- $scope.employees -->
        <tr ng-repeat="user in ctrl.users| filter: search |orderBy: 'username'">
            <td> {{user.username}}</td>
            <td title="{{user.fullName}}">{{ctrl.shortFullName(user)}}</td>
            <td> {{user.post}}</td>
            <td> {{user.department.shortname}}</td>
            <td> {{user.transportDep.shortname}}</td>
            <td><span ng-repeat="d in user.departments" class="role-span">{{d.shortname}} </span></td>
            <td><span ng-repeat="role in user.roles" class="role-span">{{role.roleName}} </span></td>
            <td>
                <button ng-click="ctrl.editUser(user)" class="edit-button">изменить</button>
                <button ng-click="ctrl.deleteUser(user)" class="delete-button">удалить</button>
            </td>
        </tr>
    </table>
</body>
</html>
