<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <title>Типы транспортных средств</title>

        <script src="js/lib/angular.min.js" ></script>
        <!--        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->
        <script src="js/app/app.js"></script>
        <script src="js/app/vehicleTypesManagement/service.js"></script>
        <script src="js/app/vehicleTypesManagement/controller.js"></script>

        <link href="css/lib/bootstrap.css" rel="stylesheet"/>
        <link href="css/lib/app.css" rel="stylesheet"/>
        <script>

        </script>
    </head>

    <body ng-app="Transportation" ng-controller="VehicleTypesManagementController as ctrl">
        <a href="http://localhost:8080/transportation/">Возврат на страницу приветствия</a>

        <div style="display: flex;">

            <div class="generic-container">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="lead">Тип автотранспортного средства</span></div>
                    <div class="panel-body">
                        <div class="formcontainer">
                            <!--                                <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                                                            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>-->
                            <form ng-submit="ctrl.submitVehicleType()" name="myFormVehicleType" class="form-horizontal">
                                <input type="hidden" ng-model="ctrl.vehicleType.id" />
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-lable" for="specialization">Специализация автотранспорта</label>
                                        <div class="col-md-7">
                                            <select name="type-vehicle" ng-model="ctrl.vehicleType.specialization">
                                                <option>---Выберите---</option>
                                                <option value="пассажирский">Пассажирский</option>
                                                <option value="легковой">Легковой</option>
                                                <option value="грузовой">Грузовой</option>
                                                <option value="спецтехника">Спецтехника</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-lable" for="type">Тип автотранспорта</label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="ctrl.vehicleType.typeName" id="type" class="form-control input-sm" placeholder="Введите тип авто" required ng-minlength="3"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-actions floatRight">
                                        <button type="button" class="btn btn-sm btn-info" ng-click="ctrl.createVehicleType(ctrl.vehicleType)" ng-disabled="myFormVehicleType.$pristine">{{ctrl.vehicleType.id===null?'Добавить':'Изменить'}}</button> 
                                        <button type="button" ng-click="ctrl.resetVehicleType()" class="btn btn-warning btn-sm">Сбросить форму</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>	
                </div>





                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="lead">Типы автотранспортных средств</span></div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="vehicleTypesearching">Поиск</label>
                            <div class="col-md-7">
                                <input type="search" ng-model="searchVehicleType" id="vehicleTypesearching" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Код</th>
                                        <th>Специализация</th>
                                        <th>Тип авто</th>
                                        <th style="width: 200px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vehicleType in ctrl.vehicleTypes| filter:searchVehicleType" ng-click="ctrl.setVehicleType(vehicleType)" style = "cursor: pointer">
                                        <td>{{vehicleType.id}}</td>
                                        <td>{{vehicleType.specialization}}</td>
                                        <td>{{vehicleType.typeName}}</td>
                                        <td><button type="button" ng-click="ctrl.editVehicleType(vehicleType)" class="btn btn-success">Изменить</button>
                                            <button type="button" ng-click="ctrl.deleteVehicleType(vehicleType)" class="btn btn-danger custom-width">Удалить</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="generic-container">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="lead">Модель автотранспортного средства</span></div>
                    <div class="panel-body">
                        <div class="formcontainer">
                            <!--                                <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                                                            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>-->
                            <form ng-submit="ctrl.submitVehicleModel()" name="myFormVehicleModel" class="form-horizontal">
                                <input type="hidden" ng-model="ctrl.vehicleModel.id" />
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-lable" for="modelName">Название модели авто</label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="ctrl.vehicleModel.modelName" id="modelName" class="form-control input-sm" placeholder="Введите модель авто" required ng-minlength="3"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-actions floatRight">
                                        <button type="button" class="btn btn-sm btn-info" ng-click="ctrl.createVehicleModel(ctrl.vehicleModel)" ng-disabled="myFormVehicleModel.$pristine">{{ctrl.vehicleModel.id===null?'Добавить':'Изменить'}}</button> 
                                        <button type="button" ng-click="ctrl.resetVehicleModel()" class="btn btn-warning btn-sm">Сбросить форму</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>	
                </div>





                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="lead">Модели автотранспортных средств</span></div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="vehicleModelsearching">Поиск</label>
                            <div class="col-md-7">
                                <input type="search" ng-model="searchVehicleModel" id="vehicleModelsearching" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Код</th>
                                        <th>Тип автотранспорта</th>
                                        <th>Название модели</th>
                                        <th style="width: 200px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vehicleModel in ctrl.vehicleModels| filter:searchVehicleModel">

                                        <td>{{vehicleModel.id}}</td>
                                        <td>{{vehicleModel.vehicleType.type}}</td>
                                        <td>{{vehicleModel.modelName}}</td>
                                        <td><button type="button" ng-click="ctrl.editVehicleModel(vehicleModel)" class="btn btn-success">Изменить</button>
                                            <button type="button" ng-click="ctrl.deleteVehicleModel(vehicleModel)" class="btn btn-danger custom-width">Удалить</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>