<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Управление</title>
        <link href="fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/lib/angular.min.js"></script>
        <script src="js/app/app.js"></script>

        <script src="js/app/supermanager/service.js"></script>
        <script src="js/app/supermanager/controller.js"></script>

    </head>
    <body ng-app="Transportation" ng-controller="SuperManagerController as ctrl" >
        <div class="wrapper">
            <div class="dialog-window" id="dialog-ban">
                <i class="fas fa-times i-close " onclick="formClose('dialog-ban')"></i>
                <p>Вы уверены, что хотите отменить?</p>
                <section style="display: flex; justify-content: center;">
                    <div class="btn edit" onclick="formClose('dialog-ban')">Отмена</div>
               	    <div class="btn delete" ng-click="ctrl.cancelRecords()">ОК</div>
                </section> 
            </div>
            <div class="dialog-window" id="dialog-signature">
                <i class="fas fa-times i-close " onclick="formClose('dialog-signature')"></i>
                <p>Вы уверены, что хотите подписать?</p>
                <section style="display: flex; justify-content: center;">
                    <div class="btn edit" onclick="formClose('dialog-signature')">Отмена</div>
                    <div class="btn delete" ng-click="ctrl.affirmRecords()"><i class="fas fa-signature"></i>Подписать</div>
                </section> 

            </div>

            <div class="main clearfix">
                <div class="header clearfix">
                    <!--Logo -->
                    <div class="logo">
                    </div>
                    <!--Text header -->

                    <h1>Комплекс Автотранспортного Обеспечения</h1>
                    <h3>Контроль подачи заявок</h3>

                    <button class="login btn" onclick="javascript: document.logoutForm.submit()" role="menuitem"><i class="fas fa-sign-out-alt"></i>Выход</button>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
                <!--Sidebar-->

                <div id="claim-create" class="tabcontent" style="width: 100%; margin-left: 0px;">


                    <div class="clearfix" style="overflow-x:auto;"  >

                        <div style="overflow-x:auto;" id="tab-list1">
                            <div class="clearfix" style="overflow-x:auto;" id="tab-list1">
                                <div class="table-header clearfix">
                                    <div class="fast-filter clearfix">                                    
                                        <span class="filter-elem edit {{ctrl.today?'active-color':''}}" ng-click="ctrl.fetchTomorrowRecords()">Завтра</span>
                                        <span class="filter-elem edit {{ctrl.week?'active-color':''}}" ng-click="ctrl.fetchWeekRecords()">За неделю</span>
                                        <span class="filter-elem edit {{ctrl.all?'active-color':''}}" ng-click="ctrl.fetchAllRecords()">Все</span>
                                    </div>
                                    <input type="search" placeholder="Поиск" ng-model="searchClaim">						  						  		
                                    <ul class="plan-date" >
                                        <li>Дата планирования</li>
                                        <li id="filter-date">{{ctrl.date}}
                                            <input type="date" name="date-plan" id="date-plan" ng-click="ctrl.changeDate()">
                                        </li>
                                    </ul>
                                    <button style="padding:0.5%;font-size: 0.7em; float: right; margin-right:5px;" class="edit btn" ng-click="ctrl.fetchDateRecords()">Показать</button>	
                                </div>	
                                <div class="height-wrapper"> 
                                    <table class="table-record"  id="tbl1" >
                                        <tr class="header-level">
                                            <th style="width: 3%;"></th>
                                            <th style="width: 97%;">
                                                ЗАЯВКИ ОТ ПОДРАЗДЕЛЕНИЙ
                                                <div style="float: right; margin-right: 10px;">
                                                    <label class="custom-checkbox" style=" text-decoration: none;">
                                                        Только неподписанные
                                                        <input type="checkbox" ng-model="ctrl.unsignedChecked" checked="false" ng-change="ctrl.fetchAllUnsignedRecords()">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>

                                            </th>
                                        </tr>
                                        <tr>                           
                                        <tr style = "cursor: pointer"  ng-click="ctrl.rowClick(header)" class="activeRow" ng-repeat-start="header in ctrl.headers| filter: searchClaim">
                                            <td>
                                                <i class="{{header.isVisible !== undefined && header.isVisible?'fas  fa-2x fa-caret-down':'fas  fa-2x fa-caret-right'}}"></i>	
                                            </td>
                                            <td >{{header.department.fullname}}

                                                <div class="record-status" style="width: 6%;">
                                                    <div title="Подписано"><i class="fas fa-clipboard-check"></i>{{ctrl.amountReady(header)}}</div>
                                                    <div title="Отменено"><i class="fas fa-ban"></i>{{ctrl.amountCanceled(header)}}</div>

                                                </div>  
                                            </td>
                                        </tr>
                                        <tr class="hiddenRow" ng-show="header.isVisible !== undefined && header.isVisible" ng-repeat-end>
                                            <td colspan="2">
                                                <table class="table-claim">
                                                    <tr>	
                                                        <th style="width: 7%;">
                                                            <label class="custom-checkbox">
                                                                <input type="checkbox" ng-model="ctrl.allChecked" checked="false" ng-change="ctrl.checkAll(header.compositeClaimRecords)">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </th>
                                                        <th style="width: 10%;">Дата выезда</th>
                                                        <th style="width: 10%;">Время</th>
                                                        <th style="width: 13%;">Цель</th>
                                                        <th style="width: 15%;">Маршрут</th>
                                                        <th style="width: 10%;">Марка</th>
                                                        <th style="width: 10%;">Гос.номер</th>
                                                        <th style="width: 10%;">Водитель</th>         
                                                        <th style="width: 7%; min-width: 100px;">
                                                            <i class="fas fa-2x fa-file-contract" title="Подписать" ng-click="ctrl.prepareToAffirm(header.compositeClaimRecords)"></i>
                                                            <i class="fas fa-lg fa-ban" title="Отменить" ng-click="ctrl.prepareToCancel(header.compositeClaimRecords)"></i>
                                                        </th>		  				
                                                    </tr>
                                                    <tr ng-repeat="clrec in header.compositeClaimRecords| orderBy: 'startDate' | filter: searchClaim"> 
                                                        <td>
                                                            <label class="custom-checkbox">
                                                                <input type="checkbox" ng-model="clrec.record.checked">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </td>
                                                        <td>{{clrec.record.startDate| date:'dd.MM.yyyy'}}</td>
                                                        <td>{{clrec.record.startDate| date:'HH:mm'}} ({{clrec.record.entranceDate| date:'HH:mm'}}) - {{clrec.record.endDate| date:'HH:mm'}}</td>
                                                        <td>{{clrec.claim.purpose}}
                                                        </td>
                                                        <td >
                                                            <span class="route-tag" ng-repeat="task in clrec.claim.routeTasks| orderBy: 'orderNum'" title="{{task.workName}}">{{task.place.name}}</span>
                                                        </td>
                                                        <td>{{clrec.appointment.vehicleModel.modelName}}</td>
                                                        <td>{{clrec.appointment.vehicle.number}}</td>
                                                        <td class="td-relative">
                                                            <i class="fa fa-lg fa-mobile-alt" ng-show="ctrl.checkPhone(clrec.appointment)"> <span class="phone-info">{{clrec.appointment.driver.phone}}</span></i>
                                                            {{ctrl.showDriver(clrec.appointment)}}
                                                        </td>
                                                        <td >
                                                            <i class="{{ctrl.selectStatusIco(clrec.record, clrec.appointment.status) + ' ' + ctrl.selectStatusColor(clrec.record, clrec.appointment.status)}}" title="{{ctrl.apptStatus(clrec.appointment.status)}}"></i>
                                                        </td>     
                                                    </tr>


                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                </div>  
                                <!--  -->


                            </div>	

                        </div>

                    </div>
                </div>
            </div>		
        </div>                 
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>