<form action="#" class="formTransport" id="formCarBoss" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close" onclick="formClose('formCarBoss')"></i>
    <div class="container">
        <div>
            <label for="dsurname">Фамилия</label>
            <input type="text" name="dsurname"> 
        </div>
        <div>    
            <label for="dfirstname">Имя</label>
            <input type="text" name="dfirstname">
        </div>
        <div>    
            <label for="dsecondname">Отчество</label>
            <input type="text" name="dsecondname">
        </div>
        <div>    
            <label for="birthday">Дата рождения</label>
            <input type="date" name="birthday">
        </div>
        <div>    
            <label for="number">Должность</label>
            <input type="text" name="number">
        </div>    
        <div>
            <label for="phone">Номер мобильного</label>
            <input type="text" name="phone">
        </div>  
        <div>
            <label for="adress">Адрес</label>
            <input type="text" name="adress">
        </div>      
    </div>
    <div class="container " >
        <button type="button" class="btn delete">Отмена</button>
        <button type="button" class="btn edit"><i class="far  fa-save"></i>Сохранить</button>

    </div>
</form>