<div class="formTransport" id="formCancel" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close" onclick="formClose('formCancel')"></i>
    <div class="container">
        <div>
            <label for="reason">Причина Отмены</label>
            <!--      <input type="textarea" placeholder="Введите логин" name="reason"> -->
            <textarea name="reason" placeholder="Введите Причину" rows="5" ng-model="ctrl.cancelNote"  required></textarea>
        </div>  
        <button  class="btn delete" style="margin-top: 10px;" ng-click="ctrl.cancelAffRecord()" onclick="formClose('formCancel')"><i class="fas fa-ban"></i>Отменить</button>
    </div>
</div>
