<div class="tab-list5"  id="tab-list5" xmlns:th="http://www.thymeleaf.org">
    <div style="overflow-x:auto;">
        <div class="table-header table-header-plan clearfix">
            <input type="search" placeholder="Поиск" ng-model="search">
        </div>

        <div class="height-wrapper">

            <table class="table-transport">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
<!--                    <th>Дата рождения</th>-->
                    <th>Должность</th>
<!--                    <th>Номер мобильного</th>
                    <th>Адрес</th>-->
                    <th> <i title="Добавить старшего" class="fas fa-lg fa-plus-circle" ng-click="ctrl.tryToCreate()"></i></th>                                   
                </tr>
                <tr ng-repeat="b in ctrl.carBosses| orderBy: 'fullname' |filter : search">    
                    <td>{{b.firstname}}</td>
                    <td>{{b.name}}</td>
                    <td>{{b.surname}}</td>
<!--                    <td>{{b.birthday| date:'dd.MM.yyyy'}}</td>-->
                    <td>{{b.post}}</td>
<!--                    <td>{{b.phone}}</td>
                    <td>{{b.address}}</td>          -->
                    <td>
                        <i class="fas fa-lg fa-edit" ng-click="ctrl.tryToUpdate(b)"></i>
                        <i class="fas fa-lg fa-trash-alt" ng-click="ctrl.tryToDelete(b)"></i>  
                    </td>
                </tr>
            </table>
        </div>  

    </div>
</div>