<div class="tab-list5"  id="tab-list5" xmlns:th="http://www.thymeleaf.org">
    <div style="overflow-x:auto;">
        <div class="table-header table-header-plan clearfix">
            <input type="search" placeholder="Поиск">
        </div>

        <div class="height-wrapper">

            <table class="table-transport">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Должность</th>
                    <th>Номер мобильного</th>
                    <th>Адрес</th>
                    <th> <i title="Добавить старшего" class="fas fa-lg fa-plus-circle" onclick="formOpen('formCarBoss')"></i></th>                                   
                </tr>
                <tr>    
                    <td>Султанов</td>
                    <td>Султан</td>
                    <td>Султанович</td>
                    <td>12.09.1987</td>
                    <td>долбаёб 1 категории</td>
                    <td>87773332211</td>
                    <td>Титова 7</td>          
                    <td>
                        <i class="fas fa-lg fa-edit" onclick="formEditOpen('formCarBoss')"></i>
                        <i class="fas fa-lg fa-trash-alt" onclick="formOpen('dialog-window')"></i>  
                    </td>

                </tr>


            </table>
        </div>  

    </div>
</div>