<div class="more-info" id="more-id" xmlns:th="http://www.thymeleaf.org">
    <div>Дополнительная информация
        <i class="fas fa-times" onclick="more_close()"></i>
    </div>
    <ul>
        <li><label>Тип транспорта:<span>Грузовой</span></label></li>
        <li><label>Дата выезда:<span>12.08.2018</span></label></li>
        <li><label>Время выезда:<span>08:00</span></label></li>
        <li><label>Маршрут:<span>Пл.10-Пл.23</span></label></li>
        <li><label>Ответственный:<span>Сидоров С.С.</span></label></li>
        <li><label>Масса груза:<span>1000 кг.</span></label></li>
        <li><label>Количество мест:<span>4 чел.</span></label></li>
    </ul>
</div>	