<div class="clearfix" style="overflow-x:auto;" id="tab-list1" xmlns:th="http://www.thymeleaf.org">

    <div class="table-header clearfix">
        <input type="search">
    </div>
    <div class="height-wrapper"> 
        <table class="table-record" id="tbl1">
            <tr>
                <th></th>
                <th>
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="all">
                        <span class="checkmark"></span>
                    </label>
                </th>
                <th>Заявка</th>		
                <th>Тип транспорта</th>
                <th>Вид техники</th>
                <th>Старший</th>
                <th>Маршрут</th>
                <th>
                    <i title="Добавить заявку" class="fas fa-lg fa-plus-circle" onclick="menu_open()"></i>
                    <i title="Добавить из шаблона" class="fas fa-lg fa-file-export" onclick="templateOpen()"></i>
                    <i title="Утвердить" class="fas fa-clipboard-check fa-lg" ng-click="ctrl.confirmClaims()"></i>
                    <i title="Удалить" class="fas fa-lg fa-trash-alt" onclick="formOpen('del-claim-confirm')"></i>                                        
                </th>
            </tr>
            <tr class="activeRow" ng-repeat-start="claim in ctrl.newClaims">
                <td ng-click="ctrl.rowClick(claim)">
                    <i class="{{claim.isVisible !== undefined && claim.isVisible?'fas  fa-2x fa-caret-down':'fas  fa-2x fa-caret-right'}}"></i>
                </td>
                <td ng-click="ctrl.rowClick(claim)">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="claim.checked" ng-checked="all">
                        <span class="checkmark"></span>
                    </label>	
                </td>
                <td class="counter_record" ng-click="ctrl.rowClick(claim)">№{{claim.id}} {{claim.creationDate| date:'dd.MM.yyyy'}} 
                    <span title="Число записей">{{claim.records.length}}</span>
                </td>
                <td ng-click="ctrl.rowClick(claim)">{{claim.specialization}}</td>
                <td ng-click="ctrl.rowClick(claim)">{{claim.vehicleType.typeName}}</td>
                <td ng-click="ctrl.rowClick(claim)">{{claim.carBoss}}</td>
                <td ng-click="ctrl.rowClick(claim)">
                    <span ng-repeat="task in claim.routeTasks| orderBy: 'orderNum'" class="route-tag td-relative" title="{{task.workName}}">{{task.place.name}}</span>			
                </td>
                <td >
                    <i title="Изменить" class="fas fa-lg fa-edit" onclick="edit_open()"></i>
                    <!--<i title="Сохранить" class="fas fa-lg fa-save"></i>-->
                    <i title="Сохранить как шаблон" class="fas fa-lg fa-save" ng-click="ctrl.setClaimForTemp(claim)"></i>
                    <i title="Подробнее" class="fas fa-lg fa-ellipsis-h" onclick="more_open()" ></i>  
                </td>				  				

            </tr>
            <tr class="hiddenRow" ng-show="claim.isVisible !== undefined && claim.isVisible" ng-repeat-end>
                <td colspan="8">

                    <table class="table-claim">
                        <tr>	
                            <th style="width:20%;">Дата выезда</th>
                            <th style="width:20%;">Время подачи</th>
                            <th style="width:20%;">Время выезда</th>
                            <th style="width:20%;">Дата возвращения</th>
                            <th style="width:20%;">Время возвращения</th>
                            <th style="width:20%;"></th>
                        </tr>
                        <tr ng-repeat="record in claim.records| orderBy: 'startDate'">
                            <td>{{record.startDate| date:'dd.MM.yyyy'}}</td>
                            <td>{{record.entranceDate| date:'HH:mm'}}</td>
                            <td>{{record.startDate| date:'HH:mm'}}</td>
                            <td>{{record.endDate| date:'dd.MM.yyyy'}}</td>
                            <td>{{record.endDate| date:'HH:mm'}}</td>
                            <td><i class="fas  fa-lg fa-trash-alt claim-trash" title="Удалить" ng-click="ctrl.deleteRecord(claim, record)"></i></td>
                        </tr>                                            
                    </table>
                </td>
            </tr>

        </table>
    </div>	

</div>
