<div class="tab-list4" id="tab-list4" xmlns:th="http://www.thymeleaf.org">
    <div style="overflow-x:auto;">
        <div class="table-header table-header-plan clearfix">
            <input type="search" placeholder="Поиск">	
        </div>
        <div class="height-wrapper">    	
            <table class="table-transport ">
                <tr>
                    <th style="width:10%;">
                        <label class="custom-checkbox">
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                        </label> 
                    </th>
                    <th style="width:20%;">Название</th>
                    <th style="width:60%;">Маршрут</th>
                    <th style="width:10%;">
                        <i title="Добавить маршрут" class="fas fa-lg fa-plus-circle" onclick="formOpen('formRoute')"></i>
                        <i class="fas fa-lg fa-trash-alt" onclick="formOpen('dialog-window')"></i></th> 			  					  	
                </tr>
                <tr>	
                    <td>
                        <label class="custom-checkbox">
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                        </label> 
                    </td>
                    <td>На пл.1</td>
                    <td>
                        <span class="route-tag">Пл.10</span>
                        <span class="route-tag">Пл.23</span>
                        <span class="route-tag">КАЗ</span>
                        <span class="route-tag">Пл.18</span>
                        <span class="route-tag">Пл.1</span>	
                    <td>
                        <i class="fas fa-lg fa-edit" onclick="formEditOpen('formRoute')" title="Изменить"></i>	
                    </td>

                </tr>


            </table>
        </div>
    </div>
</div>