<div class="new-claim-task" id="formTask" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close" onclick="formClose('formTask')"></i>
    <div class="form-item">
        <label for="type">Место</label>
        <select name="type" ng-options="p as p.name + (p.address !== null ? ' (' + p.address + ')' : '') for p in ctrl.places| orderBy: 'name' track by p.id" ng-model = "ctrl.routeTask.place">
        <option value="" disabled selected><--Выберите место--></option>
        </select>
    </div>	
    <div class="form-item" style="margin-bottom:20px;"> 

        <label for="work">Работы</label>
        <textarea name="work" ng-model="ctrl.routeTask.workName"></textarea>

        <div class="right-block" style="margin-top:10px;">	
            <div class="btn edit" ng-click="ctrl.addRTask(ctrl.routeTask)"><i class="fas fa-plus-circle" style="cursor:pointer;" ></i>Добавить</div>
        </div>
    </div>
    <div class="small-height-wrapper">	
        <table class="table-task" >
            <tr>
                <th>Место</th>
                <th>Проводимые работы</th>
                <th></th>
            </tr>
            <tr ng-repeat="routeTask in ctrl.claim.routeTasks| orderBy: 'orderNum'">
                <td>{{routeTask.place.name}}</td>
                <td>{{routeTask.workName}}</td>
                <td>
                    <i class="fas fa-times" ng-click="removeRTask(routeTask)"></i>
                    <i class="fas fa-edit"></i>
                </td>	 					
            </tr>	 				
        </table>
    </div>
    <div class="form-item">
        <div class="right-block">	
            <div class="btn edit"><i class="fas fa-save"></i>Сохранить</div>
        </div>    
    </div>
</div>
