<div class="tab-list4" id="tab-list4" xmlns:th="http://www.thymeleaf.org">
    <div style="overflow-x:auto;">
        <div class="table-header table-header-plan clearfix">
            <input type="search" placeholder="Поиск" ng-model="search">	
        </div>
        <div class="height-wrapper">    	
            <table class="table-transport ">
                <tr>
                    <th style="width:10%;">
                        <label class="custom-checkbox">
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                        </label> 
                    </th>
                    <th style="width:20%;">Название</th>
                    <th style="width:60%;">Маршрут</th>
                    <th style="width:10%;">
                        <i title="Добавить маршрут" class="fas fa-lg fa-plus-circle" ng-click="ctrl.tryToCreate()"></i>
                        <i class="fas fa-lg fa-trash-alt" ng-click="ctrl.tryToDelete()"></i></th> 			  					  	
                </tr>
                <tr ng-repeat="tmpl in ctrl.routeTemplates| orderBy:'name'| filter: search">	
                    <td>
                        <label class="custom-checkbox">
                            <input type="checkbox" ng-model="tmpl.checked">
                            <span class="checkmark"></span>
                        </label> 
                    </td>
                    <td>{{tmpl.name}}</td>
                    <td>
                        <span class="route-tag" title="{{tsk.workName}}" ng-repeat="tsk in tmpl.routeTasks">{{tsk.place.name}}</span>
                    <td>
                        <i class="fas fa-lg fa-edit" ng-click="ctrl.tryToUpdate(tmpl)" title="Изменить"></i>	
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>