<div class="dialog-window" id="dialog-save" style="display: none;" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close " ng-click="ctrl.closeSaveForm()"></i>

    <label>Название шаблона</label>
    <input type="text" name="templateName" ng-model="ctrl.claim.templateName" required></input>    
    <div class="btn delete" style="cursor: pointer;" ng-click="ctrl.closeSaveForm()">Отмена</div>
    <div class="btn edit" ng-click="ctrl.saveClaimTemplate()" style=" cursor: pointer;"><i class="fas  fa-save"></i>Сохранить</div>

</div>