<div class="dialog-window" id="dialog-save" style="display: none;" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close " onclick="formClose('dialog-save')"></i>

    <label>Название шаблона</label>
    <input type="text" ng-model="ctrl.claim.templateName"></input>                            
    <div class="btn delete" style="cursor: pointer;" onclick="formClose('dialog-save')">Отмена</div>
    <div class="btn edit" ng-click="ctrl.createClaim()" style=" cursor: pointer;" onclick="formClose('dialog-save')"><i class="fas  fa-save"></i>Сохранить</div>

</div>