<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Комплекс автотраспортного обеспечения</title>
        <script  src="js/lib/angular.min.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/claim/ClaimService.js"></script>
        <script src="js/app/claim/ClaimController.js"></script>
        <script src="js/app/routeTagController.js"></script>
<!--        <script src="js/script/fileStorage.js"></script>-->

<!--        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">-->
        <link href="fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="Transportation" >
        <div class="wrapper"ng-controller="ClaimController as clCtrl" >
            <!-- Login Form-->
            <div class="sidebar-vertical" id="sb-v-id">
                <i class="sidenav-btn fas fa-bars" onclick="open_sidenav()"></i>
            </div>
            <form action="#" class="formLogin" id="formLogin">
                <i class="fas fa-times i-close" onclick="formLogin_close()"></i>
                <div class="container">
                    <label for="uname"><b>Логин</b></label>
                    <input type="text" placeholder="Введите Логин" name="uname" required>

                    <label for="psw"><b>Пароль</b></label>
                    <input type="password" placeholder="Введите Пароль" name="psw" required>

                    <button type="submit" class="btn edit"><i class="fas fa-sign-in-alt"></i>Войти</button>
                    <label class="custom-checkbox">Запомнить меня
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="container container-underline" style="">
                    <button type="button" class="btn delete">Отмена</button>
                    <span class="psw">Забыли <a href="#">Пароль?</a></span>
                </div>
            </form>
            <!--Record Form --> 
            <div class="formRecord" id="formRecord-id" >
                <i class="fas fa-times i-close" onclick="formRecord_close()"></i>
                <label for="type-claim">Тип заявки</label>
                <select name="type-claim" ng-model="clCtrl.claim.clType">
                    <option value="">---Выберите---</option>
                    <option value="claim_type_weekly">Еженедельная</option>
                    <option value="claim_type_additional">Дополнительная</option>
                </select>
                <!--                <input id="singleFileUploadInput" type="file" name="post-file" multiple accept="image/*">-->
<!--                <form id="multipleUploadForm" name="multipleUploadForm">-->
                    <input id="multipleFileUploadInput" type="file" name="post-file" multiple accept="image/*">
<!--                    <button type="submit" class="primary submit-btn">Загрузить</button>
                </form>-->
                <div class="upload-response">
                    <div id="multipleFileUploadError"></div>
                    <div id="multipleFileUploadSuccess"></div>
                </div>
                <button class="btn delete" ng-click="clCtrl.createClaim(clCtrl.claim)" >Создать</button>
            </div>
            <!----------------------------------------------ADD-FORM------------------->
            <div class="menu-new-claim" id="form-add">
                <i class="fas fa-times" onclick="menu_close()"></i>
                <form>
                    <div class="custom-select form-item">
                        <label for="type">Тип транспорта</label>
                        <select name="type-vehicle" ng-model="searchType">
                            <option value="Пассажирский">Пассажирский</option>
                            <option value="Легковой">Легковой</option>
                            <option value="Грузовой">Грузовой</option>
                            <option value="Спецтехника">Спецтехника</option>
                        </select>
                    </div>	
                    <div class="form-item" >
                        <label for="criterion">Вид техники</label>
                        <select name="criterion" ng-options="vt as vt.type for vt in clCtrl.vehicleTypes| filter:searchType track by vt.id"   ng-model="clCtrl.record.vehicleType">
                        </select>
                    </div>	
                    <div class="form-item clearfix" >
                        <div class="left-block">
                            <label for="date-begin">Дата начала</label>
                            <input type="date"  name="date-begin" ng-model="clCtrl.record.departureDate" required>
                        </div>
                        <div class="right-block">
                            <label for="date-end">Дата конца</label>
                            <input type="date"  name="date-end" ng-model="clCtrl.record.returnDate" required>
                        </div>
                    </div>	
                    <div class="form-item clearfix">
                        <div class="left-block">
                            <label for="time-begin">Время начала</label>
                            <input type="time"  name="time-begin" ng-model="clCtrl.record.departureTime" required>
                        </div>
                        <div class="right-block">
                            <label for="time-end">Время конца</label>
                            <input type="time"  name="time-end" ng-model="clCtrl.record.returnTime" required>
                        </div>
                        <div>
                            <label for="time-delivery">Время подачи</label>
                            <input type="time"  name="time-delivery" ng-model="clCtrl.record.timeDelivery" required>
                        </div>
                        <div>
                            <label for="car-boss">Старший машины</label>
                            <input type="text"  name="car-boss" ng-model="clCtrl.record.carBoss" required>
                        </div>
                    </div>	
                    <div class="form-item">
                        <label for="purpose">Цель</label>
                        <textarea name="purpose"   rows="10" ng-model="clCtrl.record.purpose" ></textarea>
                    </div>
                    <div class="custom-select form-item clearfix"> <!--ng-controller="routeTagController as routeTag">-->
                        <div class="left-block-route">
                            <label for="route">Маршрут</label>
                            <select name="route"> <!--ng-options="wp as wp.name for wp in clCtrl.waypoints track by wp.id" ng-model="clCtrl.record.waypoints">-->

                            </select>
                            <!--                            <select name="route" ng-model="routeTag.routeText">
                                                            <option >Пл.10</option>
                                                            <option >Пл.18</option>
                                                            <option >Пл.23</option>
                                                        </select> -->
                        </div>
                    </div>	
                    <div class="form-item">
                        <button class="btn submit" id="btn-add-edit" onclick="menu_close()" ng-click="clCtrl.createRecord(clCtrl.record)"></button>
                    </div>

                </form>
            </div>
            <div class="main clearfix"  >
                <div class="header clearfix">
                    <!--Logo -->
                    <div class="logo">
                    </div>
                    <!--Text header -->

                    <h1>Структурное подразделение</h1>
                    <h3>{{clCtrl.claim.department.name}}</h3>
                    <!--Navigation -->	

                    <nav class="nav-horizontal">
                        <div class="btn active" id="tab-btn1" onclick="open_tab1()">Подача заявок</div>
                        <div class="btn" id="tab-btn2" onclick="open_tab2()">Статус заявок</div>			
                    </nav>

                    <button class="login btn" onclick="formLogin_open()"><i class="fas fa-user"></i>Пользователь</button>
                </div>
                <!--Sidebar-->
                <div class="sidebar clearfix" id="sidenav-id">

                    <div class="thin-strip">
                        <i class="fas fa-times i-close" onclick="close_sidenav()"></i>
                    </div>
                    <!--Menu -->
                    <div class="menu">
                        <li class="menu-item" >
                            <div class="menu-btn" id="claims" ><i class="fab fa-wpforms"></i>Заявки</div>
                            <div class="smenu">
                                <div  onclick="formRecord_open()">Создать новую</div>
                            </div>
                        </li>
                        <li class="menu-item" id="new">
                            <div  class="menu-btn clearfix" ><i class="fas fa-cog"></i>Параметры</div>
                            <div class="filter">
                                <div class="filter-container" >
                                    <p>Фильтрация</p>
                                    <div class="filter-type"><i class="fas fa-car" ng-click="searchSpecFilter = 'Легковой'"></i></div>
                                    <div class="filter-type"><i class="fas fa-bus-alt" ng-click="searchSpecFilter = 'Пассажирский'"></i></div>
                                    <div class="filter-type"><i class="fas fa-truck" ng-click="searchSpecFilter = 'Грузовой'"></i></div>
                                    <div class="filter-type"><i class="fas fa-tractor" ng-click="searchSpecFilter = 'Спецтехника'"></i></div>
                                </div>
                                <div class="filter-container">
                                    <label for="route-filter">Маршрут</label>
                                    <select name="route-filter">
                                        <option value="1">Пл.10-Пл.23</option>
                                    </select>
                                </div>
                                <div class="filter-container" id="f-empls" >
                                    <label for="declarer-filter">Вид техники</label>                                                                     
                                    <select name="declarer-filter" ng-options="vt as vt.type for vt in clCtrl.vehicleTypes| filter:searchSpecFilter track by vt.id"   ng-model="searchTypeFilter">

                                    </select>
                                </div>
                                <div class="filter-container">
                                    <label for="date-filter">Дата выезда</label>
                                    <input type="date" name="date-filter">
                                    </select>
                                </div>
                                <div class="filter-container" id="f-trnsp" style="display:none;">
                                    <label for="transport-filter">Название транспорта</label>
                                    <select name="transport-filter">
                                        <option value="1">ПАЗ</option>
                                        <option value="2">ГАЗ 66</option>
                                    </select>
                                </div>
                                <div class="filter-container" id="f-sts" style="display:none;">
                                    <label for="status-filter">Статус заявки</label>
                                    <select name="status-filter">
                                        <option value="1"><i class="fas fa-ban"></i>Отмена</option>
                                        <option value="2"><i class="fas fa-ban"></i>Ожидается</option>
                                        <option value="2"><i class="fas fa-ban"></i>Готово</option>
                                    </select>
                                </div>
                                <div class="filter-container">
                                    <button ng-click="search = searchTypeFilter.type" class="btn apply">Применить</button>	
                                </div>

                            </div>
                        </li>		
                    </div>


                </div>
                <div id="claim-create" class="tabcontent">
                    <div class="clearfix" style="overflow-x:auto;" id="tab-list1">
                        <div class="fast-filter clearfix">
                            <span class="filter-elem edit">Все</span>
                            <span class="filter-elem edit">Сегодня</span>
                            <span class="filter-elem edit">За неделю</span>
                        </div>
                        <div class="table-header clearfix">
                            <input type="search" ng-model="search">
                            <button class="btn edit"><i class="fas fa-search"></i></button>	
                        </div>		
                        <table class="table-record" id="tbl1" >
                            <tr class="header-level">
                                <th></th>
                                <th>Заявки</th>
                            </tr>
                            <tbody>
                                <tr ng-repeat-start="claim in clCtrl.claims | filter:search" style = "cursor: pointer" ng-click="clCtrl.addRowHandlers(claim)">                                
                                    <td>
                                        <label class="custom-checkbox">
                                            <input type="checkbox" >1
                                            <span class="checkmark"></span>
                                        </label>		
                                    </td>
                                    <td>№ {{claim.id}} от {{claim.clDate| date: 'dd.MM.yyyy'}} 
                                        <div class="add-hover delete btn" onclick="menu_open()"><i class="fas fa-plus"></i>Добавить</div>
                                    </td>
                                </tr>
                                <tr class="hiddenRow" ng-show="claim.isVisible !== undefined && claim.isVisible" ng-repeat-end>
                                    <td colspan="2">
                                        <table class="table-claim">

                                            <tr>		
                                                <th>Тип траспорта</th>
                                                <th>Вид техники</th>
                                                <th>Дата</th>
                                                <th>Время</th>
                                                <th>Старший</th>
                                                <th>Цель поездки</th>
                                                <th>Маршрут</th>
                                                <th></th>
                                            </tr>
                                            <tr  ng-repeat="record in claim.records| filter:search">
                                                <td>{{record.vehicleType.specialization}}</td>
                                                <td>{{record.vehicleType.type}}</td>
                                                <td>{{record.departureDate| date:'dd.MM.yyyy'}}</td>
                                                <td>{{record.timeDelivery| date:'hh:mm'}}</td>
                                                <td>{{record.carBoss}}
                                                    <button class="btn-hidden btn edit" ng-click="clCtrl.editRecord(record)" onclick="edit_open()"><i class="fas fa-edit" ></i>Изменить
                                                    </button>
                                                </td>
                                                <td>{{record.purpose}}
                                                    <button class="btn-hidden btn delete" ng-click="clCtrl.deleteRecord(record)"><i class="fas fa-trash-alt" ></i>Удалить</button>
                                                </td>
                                                <td>Waypoints</td>

                                                <td>
                                                    <button class="btn eye" ng-click="clCtrl.addRowHandlersRecords(record)" onclick="more_open()" ><i class="far fa-eye"></i></button>  			
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>                           
                            </tbody>
                        </table>


                        <div class="assert-block clearfix">
                            <button class="btn edit assert"><i class="fas fa-clipboard-check"></i>Утвердить</button>
                            <button class="btn edit "><i class="fas fa-file-export"></i>Экспорт...</button>
                        </div>
                    </div>

                    <!--Подробнее-->
                    <div class="more-info" id="more-id">
                        <div>Дополнительная информация
                            <i class="fas fa-times" onclick="more_close()"></i>
                        </div>
                        <ul>
                            <li><label>Тип транспорта:<span>{{clCtrl.record.vehicleType.type}}</span></label></li>
                            <li><label>Дата выезда:<span>{{clCtrl.record.departureDate|date:'dd.MM.yyyy'}}</span></label></li>
                            <li><label>Время выезда:<span>{{clCtrl.record.departureTime|date: 'hh:mm'}}</span></label></li>
                            <li><label>Дата возвращения:<span>{{clCtrl.record.returnDate|date:'dd.MM.yyyy'}}</span></label></li>
                            <li><label>Время возвращения:<span>{{clCtrl.record.returnTime|date: 'hh:mm'}}</span></label></li>
                            <li><label>Время подачи:<span>{{clCtrl.record.timeDelivery|date: 'hh:mm'}}</span></label></li>
                            <li><label>Маршрут:<span>..Не реализовано..</span></label></li>
                        </ul>
                    </div>	


                    <div class="tab-list2" id="tab-list2">
                        <div style="overflow-x:auto;">
                            <div class="fast-filter clearfix">
                                <span class="filter-elem edit">Все</span>
                                <span class="filter-elem edit">Сегодня</span>
                                <span class="filter-elem edit">За неделю</span>
                            </div>

                            <table class="table-record" id="tbl2">
                                <tr>
                                    <th>Заявки</th>
                                    <th>Статус</th>
                                </tr>
                                <tr ng-repeat="claim in clCtrl.claims" ng-click="clCtrl.addRowHandlers(claim)" style = "cursor: pointer">                        
                                    <td>№ {{claim.id}} от {{claim.clDate}}</td>
                                    <td><span class="claim-status done-status"><i class="fas fa-check"></i>Готово</span></td>
                                </tr>
                                <tr class="hiddenRow collapseRow">
                                    <td colspan="2">
                                        <table class=" table-status">

                                            <tr>
                                                <th>Тип транспорта</th>
                                                <th>Дата выезда</th>
                                                <th>Время выезда</th>
                                                <th>Цель поездки</th>
                                                <th>Маршрут</th>
                                                <th>Транспорт</th>
                                                <th>Водитель</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="record in claim.records">
                                                <td>{{record.vehicleType.specialization}}</td>
                                                <td>20.12.2018</td>
                                                <td>08:00</td>
                                                <td>Перевозка пассажиров</td>
                                                <td>Пл.10-Пл.18</td>
                                                <td>ПАЗ X234XX</td>
                                                <td>Иванов И.И.</td>
                                                <td>
                                                    <button class="btn eye" onclick="more_open()"><i class="far fa-eye"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>	
                            </table>	

                        </div>	
                    </div>
                </div>
            </div>
        </div>



        <script type="text/javascript" src="js/script/script.js"></script>
    </body>
</html>
