<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <title>Departments</title>
        
        <script src="js/lib/angular.min.js" ></script>
<!--        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->
        <script src="js/app/app.js"></script>
        <script src="js/app/department/DepartmentService.js"></script>
        <script src="js/app/department/DepartmentController.js"></script>
        
        <link th:href="@{css/main.css}" rel="stylesheet" />
    </head>
    
   <body ng-app="Transportation" ng-controller="DepartmentController as ctrl">
        <h2>Departments</h2 >
        <table class="table table-striped column_left">
            <tr>
                <th>Код</th>
                <th>Название</th>
                <th>адрес</th>
                <th></th>
                <th></th>
            </tr>
            
             
            <tr ng-repeat="department in ctrl.departments">
                <td>{{department.id}}</td>
                <td>{{department.name}}</td>
                <td>{{department.addres}}</td>
                <td><button class="btn">Изменить</button></td>
                <td><button class="btn">Удалить</button></td>
            </tr>
        </table>
	<div class="column_right">	
        <form method="POST">
            <input type="text" ng-model="ctrl.department.name">
            <input type="text" ng-model="ctrl.department.addres">
            <button class="btn" ng-click="ctrl.createDepartment(ctrl.department)">Добавить</button>
        </form>
	<div>
    </body>
</html>
