<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Вход в систему</title>
        <link href="css/log-style.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main-bg">
            <img src="img/background.jpeg" alt="qre">

        </div>
        <section class="formLogin" id="formLogin">
            <form name='f' th:action="@{/j_spring_security_check}" method='POST' class="container">

                <div>
                    <label for="uname">Логин</label>
                    <input type="text" placeholder="Введите логин" name='username' required>
                </div>
                <div>
                    <label for="psw">Пароль</label>
                    <input type="password" placeholder="Введите пароль" name='password' required>
                </div>
                <div >
                    <label class="custom-checkbox" style="width: 70%;padding-left:10%;">Запомнить меня
                        <input type="checkbox" name="remember-me">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div th:if="${#request.getParameter('error') == 'true'}"
                     style="color:red;margin:10px 0px;">
                    В доступе отказано! 
                    <br>Неверная пара логин-пароль.
                </div>
                <button type="submit"><i class="fas fa-sign-in-alt"></i>Войти</button>
            </form>
        </section>

        <section class="logo">
            <img src="img/cenki.png" alt="ЦЭНКИ">
        </section>

<!--        <section class="logo-right">
            <img src="img/roscosmos.png" alt="Роскосмос">
        </section>-->

    </body>
</html>