<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Комплекс автотраспортного обеспечения</title>
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="assets/fontawesome/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/style/style.css">
	
	<script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="assets/app/app.js"></script>
	<script src="assets/app/directives/firstDirective.js"></script>

</head>
<body ng-app="myApp" >
	<div class="wrapper">
		<!-- Login Form-->
		<div class="sidebar-vertical" id="sb-v-id">
			<i class="sidenav-btn fas fa-bars" onclick="open_sidenav()"></i>
		</div>
		<form action="#" class="formLogin" id="formLogin">
				<i class="fas fa-times i-close" onclick="formLogin_close()"></i>
				<div class="container">
			    <label for="uname"><b>Логин</b></label>
			    <input type="text" placeholder="Введите Логин" name="uname" required>

			    <label for="psw"><b>Пароль</b></label>
			    <input type="password" placeholder="Введите Пароль" name="psw" required>

			    <button type="submit" class="btn edit"><i class="fas fa-sign-in-alt"></i>Войти</button>
			    <label class="custom-checkbox">Запомнить меня
  						<input type="checkbox" checked="checked">
 						<span class="checkmark"></span>
				</label>
			  </div>

			  <div class="container container-underline" style="">
			    <button type="button" class="btn delete">Отмена</button>
			    <span class="psw">Забыли <a href="#">Пароль?</a></span>
			  </div>
		</form>
		<div class="main clearfix">
			<div class="header clearfix">
				<!--Logo -->
				<div class="logo">
				</div>
				<!--Text header -->

					<h1>Комплекс Автотранспортного Обеспечения</h1>
					<h3>Плановый Отдел</h3>
			
				<!--Navigation -->	
				<nav class="nav-horizontal">
					<div class="btn active" id="tab-btn1" onclick="open_tab1('tab-list1','tab-btn1',2)">Обработка заявок</div>
					<div class="btn" id="tab-btn2" onclick="open_tab1('tab-list2','tab-btn2',2)">Готовый План</div>			
				</nav>
			
				<button class="login btn" onclick="formLogin_open()"><i class="fas fa-user"></i>Пользователь</button>
			</div>
				<!--Sidebar-->
			<div class="sidebar clearfix" id="sidenav-id">
				<div class="thin-strip">
					 <i class="fas fa-times i-close" onclick="close_sidenav()"></i>
				</div>
				<!--Menu -->
					<div class="menu" id="menu">
					 	<!-- 	<li class="menu-item" id="claims"">
					 			<div class="menu-btn" ><i class="fab fa-wpforms"></i>Заявки</div>
					 			<div class="smenu" id="smenu">
					 				<div  onclick="menu_open()">Создать новую</div>
					 				<div >Утвердить</div>
					 			</div>
					 		</li> -->
					 		<li class="menu-item" id="new">
					 			<div  class="menu-btn clearfix" ><i class="fas fa-cog"></i>Параметры</div>
					 			<div class="filter ">
					 				<div class="filter-container tab1 tab2" >

					 					<p>Фильтрация</p>
					 					<div class="filter-type"><i class="fas fa-car"></i></div>
					 				 	<div class="filter-type"><i class="fas fa-bus-alt"></i></div>
					 				 	<div class="filter-type"><i class="fas fa-truck"></i></div>
					 				 	<div class="filter-type"><i class="fas fa-tractor"></i></div>
					 				</div>
					 				<div class="filter-container tab1 tab2">
						 				<label for="route-filter">Маршрут</label>
		 						 			<select name="route-filter">
		 						 			<option value="1">Пл.10-Пл.23</option>
		 						 		</select>
					 				</div>
					 				<div class="filter-container tab1 ">
						 				<label for="declarer-filter">ОТС</label>
		 						 			<select name="declarer-filter">
		 						 			<option value="1"></option>
		 						 		</select>
					 				</div>
					 				<div class="filter-container tab1 tab2">
						 				<label for="mark-filter">Марка</label>
		 						 			<select name="mark-filter">
		 						 			<option value="1"></option>
		 						 		</select>
					 				</div>
					 				<div class="filter-container tab1 tab2">
						 				<label for="date-filter">Дата выезда</label>
		 						 		 	<input type="date" name="date-filter">
		 						 		</select>
					 				</div>

					 			<!-- 	<div class="filter-container">
					 					<label>Период</label>
					 					<div class="range-filter">
					 						<div class="range-circle"></div>
					 					</div>
					 				</div> -->
					 				<div class="filter-container">
					 					<button class="btn apply ">Применить</button>	
					 				</div>

					 			</div>
					 		</li>		
	 				</div>
	 				<!-- <div class="menu-new-claim" id="form-add">
	 					<i class="fas fa-times" onclick="menu_close()"></i>
	 					<form action="#" method="POST">
	 						 <div class="custom-select form-item">
	 						 	<label for="type">Тип транспорта</label>
	 						 	<select name="type">
	 						 		<option value="1">Пассажирский</option>
	 						 		<option value="2">Легковой</option>
	 						 		<option value="3">Грузовой</option>
	 						 		<option value="4">Спецтехника</option>
	 						 	</select>
	 						 </div>
	 						 <div class="form-item" >
		 					 	<label for="date-begin">Дата выезда</label>
    						 	<input type="date"  name="date-begin" required>
    						 </div>	
    						 <div class="form-item">
    						 	<label for="time-begin">Время выезда</label>
    						 	<input type="time"  name="time-begin" required>
    						 </div>	
    						 <div class="form-item">
    						 	<label for="purpose">Цель</label>
    						 	<input type="textarea"  name="purpose">
    						 </div>
    						  <div class="custom-select form-item">
	 						 	<label for="route">Маршрут</label>
	 						 	<select name="route">
	 						 		<option value="1">Пл.10-Пл.23</option>
	 						 	</select>
	 						 </div>	
	 						    <div class="form-item">
	 						 	<button class="btn submit">Добавить</button>
	 						    </div>

	 					</form>
	 				</div> -->

			</div>
			
		<div id="claim-create" class="tabcontent">


		<div class="clearfix" style="overflow-x:auto;"  >
		  	
		  	<div style="overflow-x:auto;" id="tab-list1">
		  		  <div class="clearfix" style="overflow-x:auto;" id="tab-list1">
		  		  <div class="week-tab clearfix">
				  		<span class="week-elem btn week-active" id="week1" onclick="turn_tabs1()">Недельные</span>
				  		<span class="week-elem btn" id="week2" onclick="turn_tabs2()">Дополнительные</span>
		  		  </div>
					  	<div class="table-header clearfix">
					  		<input type="search" placeholder="Поиск">
						  		<ul>
						  			<li>Число заявок</li>
						  			<li>Общее: <span>44</span></li>
						  			<li>Обработано:<span>33</span></li>
						  		</ul>

			            </div>	
			        <div class="height-wrapper"> 
                        <table class="table-record"  id="tbl1" >
                            <tr class="header-level">
                               <th></th>
                               <th >ЗАЯВКИ</th>
                            </tr>
                            <tr ng-repeat="claim in ctrl.claims">                           
                                        <tr style = "cursor: pointer" ng-click="ctrl.addRowHandlers(claim)" class="activeRow">
                                            <td>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" >1
                                                    <span class="checkmark"></span>
                                                </label>		
                                            </td>
                                            <td>Название подразделения 
                                          
                                            	<i class="counter-items">22/3</i>
                                            </td>
                                        </tr>
                                        <tr class="hiddenRow" ng-show="claim.isVisible !== undefined && claim.isVisible">
                                            <td colspan="2" class="cell-item">
                                            	<i class="far fa-2x fa-save"></i>
                                                <table class="table-claim">
                                                    <tr>	
                                                    
										  			<th>Тип транспорта</th>
										  			<th>Дата выезда</th>
										  			<th>Время выезда</th>
										  			<th>Цель поездки</th>
										  			<th>Маршрут</th>
										  			<th>ОТС</th>
										  			<th>Марка Транспорта</th>
										  			<th></th>
                                                    </tr>
                                                    <tr  ng-repeat="record in ctrl.records">
                                                        <td>{{record.type}}</td>
                                                        <td>{{record.datetime}}</td>
                                                        <td>{{record.timeDelivery}}</td>
                                                        <td>{{record.carBoss}}
                                                        
                                                        </td>
                                                        <td>{{record.purpose}}</td>                                                         
                                                        
                                                        <td>
                                                        	<select name="ots">
											 					<option value="1">1</option>
											 					<option value="2">2</option>
											 					<option value="3">3</option>
											 				</select>
											 				
											 			</td>

                                                        <td>
                                                        	<select name="model">
										 						<option value="1">1</option>
										 						<option value="2">2</option>
										 						<option value="3">3</option>
		 													</select>  
		 															
                                                        </td>
                                                        <td> <button class="btn eye"><i class="fas fa-lg fa-code-branch"></i></button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                
                                </td> 
                            </tr>	                                                
                        </table>
                    </div>  
                    <div class="height-wrapper">   
                        <table class="table-claim" id="week-additional">
                                                    <tr>	
                                                    
										  			<th>Тип транспорта</th>
										  			<th>Дата выезда</th>
										  			<th>Время выезда</th>
										  			<th>Цель поездки</th>
										  			<th>Маршрут</th>
										  			<th>ОТС</th>
										  			<th>Марка Транспорта</th>
										  			<th></th>
                                                    </tr>
                                                    <tr  ng-repeat="record in ctrl.records">
                                                        <td>{{record.type}}</td>
                                                        <td>{{record.datetime}}</td>
                                                        <td>{{record.timeDelivery}}</td>
                                                        <td>{{record.carBoss}}
                                      
                                                        <td>{{record.purpose}}</td>                                                         
                                                        
                                                        <td>
                                                        	<select name="ots">
											 					<option value="1">1</option>
											 					<option value="2">2</option>
											 					<option value="3">3</option>
											 				</select>
											 				
											 			</td>

                                                        <td>
                                                        	<select name="model">
										 						<option value="1">1</option>
										 						<option value="2">2</option>
										 						<option value="3">3</option>
		 													</select>  
		 															
                                                        </td>
                                                        <td> <button class="btn eye"><i class="fas fa-lg fa-code-branch"></i></button>
                                                        </td>
                                                    </tr>
                                                </table>
					</div>
		  		<div class="assert-block clearfix">
		  			<button class="btn edit assert"><i class="fas fa-lg fa-share-square"></i>Отправить План</button>
		  		</div>
		  	</div>	

			</div>
			<div class="tab-list2" id="tab-list2">
		  	<div style="overflow-x:auto;">
		  			<div class="table-header table-header-plan clearfix">
					  		<input type="search" placeholder="Поиск">

						  		<ul >
						  			<li>Всего:<span>44</span></li>
						  			<li>Обработано:<span>44</span></li>
						  			<li>Осталось<span>33</span></li>
						  		</ul>
						  		<ul class="plan-info">
						  			<li>Cостояние Плана</li>
						  			<li>Завершено</li>
						  		</ul>
						  		<ul class="plan-date">
						  			<li>Дата планирования</li>
						  			<li>22.12.2018
						  				<input type="date" name="date-plan" placeholder="22.12.2018">
						  			</li>
						  		</ul>


			            </div>


        <div class="height-wrapper">     	
		  		<table class=" table-plan table-claim">

		  				
		  		   <tr>
		  		   		
			  			<th>Тип транспорта</th>
			  			<th>Дата выезда</th>
			  			<th>Время выезда</th>
			  			<th>Цель поездки</th>
			  			<th>Маршрут</th>
			  			<th>Марка авто</th>
			  			<th>Гос.номер</th>
			  			<th>Водитель</th>
			  			<th>Статус</th>
		  			</tr>
		  			<tr>
		  				
		  				<td>Пассажирский</td>
		  				<td>22.12.2018</td>
		  				<td>08:00</td>
		  				<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo veniam doloribus placeat laborum voluptatibus sapiente nam vel aut, architecto aliquam repudiandae fugiat sint sequi, odit quam aperiam sunt deserunt sed.</td>
		  				<td>Пл.10-Пл.18</td>
		  				<td>IVECO 23</td>
		  				<td>XA 544 KK</td>
		  				<td>Cултанов С.Е.</td>
		  				
		  				<td>
		  				 	<span class="claim-status done-status"><i class="fas fa-check"></i>Готово</span>
		  				 	<!-- <span class="claim-status wait-status"><i class="far fa-clock"></i>Ожидается</span>
		  				 	<span class="claim-status cancel-status"><i class="fas fa-ban"></i>Отмена</span> -->
		  				</td>
		  			</tr>
		  		
		  			
		  		</table>
		  	</div>	
			    <div class="assert-block clearfix">
		  			<button class="btn edit assert"><i class="fas fa-lg fa-clipboard-check"></i>Утвердить План</button>
		  			<button class="btn edit assert"><i class="fas fa-lg fa-print"></i>Печать</button>
		  		</div>
		  			
		  	</div>	
			</div>
			</div>
		</div>
		</div>

		
	</div>
<script type="text/javascript" src="assets/script/script.js"></script>	
</body>
</html>