<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>        
        <title th:utext="${title}"></title>
    </head>

    <body>

        <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>  

    <h2>Message : <span th:utext="${message}"></span></h2>
    <a href="/transportation/departmentsShow">Departments Page</a> 
    <br>
    <a href="/transportation/transportDepsShow">Transport Departments Page</a>
    <br>
    <a href="/transportation/addDepClaimShow">Подача заявок от подразделений</a>
    <br>
    <a href="/transportation/plan">Одел планирования</a>
    <br>
    <a href="/transportation/usersManagement">usersManagement</a>
    <br>
    <a href="/transportation/dispatcher">Dispatcher Page</a> 
    <br>
    <a href="/transportation/addWaypointsShow">Редактирование путевых точек</a>

</body>
</html>  
