<div class="new-claim-task" id="plannerCarBoss" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close" onclick="formClose('plannerCarBoss')"></i>

    <div class="form-item" style="margin-bottom:20px;"> 

        <div>
            <label for="dsurname">Фамилия</label>
            <input type="text" class="letter-mask" name="dsurname" ng-model="plctrl.carBoss.firstname" title="Только буквы русского алфавита">
        </div>
        <div>    
            <label for="dfirstname">Имя</label>
            <input type="text" class="letter-mask" name="dfirstname" ng-model="plctrl.carBoss.name" title="Только буквы русского алфавита">
        </div>
        <div>    
            <label for="dsecondname">Отчество</label>
            <input type="text" class="letter-mask" name="dsecondname" ng-model="plctrl.carBoss.surname" title="Только буквы русского алфавита">
        </div>
        <div>    
            <label for="number">Должность</label>
            <input type="text" name="number" ng-model="plctrl.carBoss.post">
        </div>
        <div>
            <label for="phone">Номер мобильного</label>
            <input type="tel" name="phone" ng-model="plctrl.carBoss.phone">
        </div>  

        <div class="left-block" style="margin-top:10px;">	
            <div ng-show="plctrl.carBoss.id !== null" class="btn delete" ng-click="plctrl.resetCBForm()">Сброс</div>
        </div>

        <div class="right-block" style="margin-top:10px;">	
            <div class="btn edit" ng-click="plctrl.submitCB()"><i class="{{plctrl.carBoss.id===null?'fas fa-plus-circle':'fas fa-edit'}}" style="cursor:pointer;" ></i>{{plctrl.carBoss.id===null?'Добавить':'Изменить'}}</div>
        </div>
    </div>
    <div class="small-height-wrapper">	
        <table class="table-task" >
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Номер мобильного</th>
                <th></th>
            </tr>
            <tr ng-repeat="b in plctrl.carBosses| orderBy: 'fullname'|filter: {department : {id: plctrl.specDepartment.id}}">
                <td>{{b.firstname}} {{b.name[0]}}.{{b.surname[0]}}.</td>
                <td>{{b.post}}</td>
                <td>{{b.phone}}</td>
                <td>
                    <i class="fas fa-times" ng-click="plctrl.removeCB(b)"></i>
                    <i class="fas fa-edit" ng-click="plctrl.tryToUpdateCB(b)"></i>
                </td>	 					
            </tr>	 				
        </table>
    </div>
    <div class="form-item">
        <div class="right-block">	
            <div class="btn edit" onclick="formClose('plannerCarBoss')"><i class="fas fa-save"></i>Сохранить</div>
        </div>    
    </div>
</div>
