<div class="more-info" id="more-status-flag" xmlns:th="http://www.thymeleaf.org">
    <div>Информация о статусе
        <i class="fas fa-times" onclick="formClose('more-status-flag')"></i>
    </div>
    <fieldset>
        <ul>
            <li><label><b class="{{plctrl.selectStatusIco(plctrl.appt.status) + ' ' + plctrl.selectStatusColor(plctrl.appt.status)}}" ></b> Статус:<span class="status-info status-ready"><b>{{plctrl.apptStatus()}}</b></span></label></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Примечание</legend>
        <p>{{plctrl.appt.note}}</p>
    </fieldset>
</div> 