<div class="more-info" id="more-claim-status" style="width: 25%" xmlns:th="http://www.thymeleaf.org">
    <div>Дополнительная информация
        <i class="fas fa-times" onclick="formClose('more-claim-status')"></i>
    </div>
    <fieldset>
        <legend>Параметры</legend>
        <ul>
            <li><label ></i> Дата Выезда<span>22.12.2018</span></label></li>
            <li><label > Дата Возвращения<span>22.12.2018</span></label></li>
            <li><label> Время Подачи<span>07:50</span></label></li>
            <li><label>	Время Выезда<span>08:50</span></label></li>
            <li><label> Время Возвращения<span>18:00</span></label></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Цель</legend>
        <p>Перевозка пассажиров в количестве 25 чел.</p>
    </fieldset>
    <fieldset>
        <legend>Назначено</legend>
        <ul>
            <li><label > ОТС<span>№1</span></label></li>
            <li><label > Диспетчер<span>Иванов И.И.</span></label></li>
        </ul>
    </fieldset>
</div>