<div class="tab-list2" id="tab-list2" xmlns:th="http://www.thymeleaf.org">
    <div style="overflow-x:auto;">
        <div class="table-header">
            <div class="fast-filter">                                    
                <span class="filter-elem {{plctrl.ctoday?'active-color':''}}" ng-click="plctrl.fetchTomorrowCompletePlanRecords()">Завтра</span>
                <span class="filter-elem {{plctrl.cweek?'active-color':''}}" ng-click="plctrl.fetchWeekCompletePlanRecords()">На неделю</span>
                <span class="filter-elem {{plctrl.call?'active-color':''}}" ng-click="plctrl.fetchMonthCompletePlanRecords()">На месяц</span>
            </div>
            <div class="fast-filter">
                <span class="filter-elem {{plctrl.carchive?'active-color':''}}" ng-click="plctrl.fetchMonthBeforeCompleteRecords()">Архив за месяц</span>
            </div>
            <div class="definite-date">
                <label for="date-plan">Планируемый день</label>
                <input type="date" name="date-plan" id="compl-date-plan" ng-click="plctrl.changeDate()">
                <div class="filter-elem edit" ng-click="plctrl.fetchDateCompletePlanRecords()">Показать</div>
            </div>	
            <input type="search" placeholder="Поиск" ng-model="searchCompleteClaim">						  				  		
        </div>
        <div class="height-wrapper"> 
            <table class="table-record"  id="tbl2" >
                <tr class="header-level">
                    <th style="width: 3%;"></th>
                    <th style="width: 97%;">ЗАЯВКИ ОТ ПОДРАЗДЕЛЕНИЙ</th>
                </tr>

                <tr style = "cursor: pointer" ng-click="plctrl.rowCompleteClick(header)" class="activeRow" ng-repeat-start="header in plctrl.complHeaders| filter: searchCompleteClaim">
                    <td>
                        <i class="{{header.isVisible !== undefined && header.isVisible?'fas  fa-2x fa-caret-down':'fas  fa-2x fa-caret-right'}}"></i>		
                    </td>
                    <td >{{header.department.fullname}}
                        <span>
                            <i title="Новые заявки" class="far fa-lg fa-envelope message-info"> {{header.compositeClaimRecords.length}}</i>

                        </span>
                        <div class="record-status">
                            <div title="Готово"><i class="fas fa-check"></i>{{plctrl.amountReady(header)}}</div>
                            <div title="Обрабатывается"><i class="fas fa-clock"></i>{{plctrl.amountInProgress(header)}}</div>
                            <div title="Отменено"><i class="fas fa-ban"></i>{{plctrl.amountCanceled(header)}}</div>
                        </div>  
                    </td>
                </tr>
                <tr class="hiddenRow" ng-show="header.isVisible !== undefined && header.isVisible" ng-repeat-end>
                    <td colspan="2">
                        <table class=" table-claim">
                            <tr>		  		   		
                                <th style="width:5%">Тип транспорта</th>
                                <th style="width:10%">Вид техники</th>
                                <th style="width:5%">Дата выезда</th>
                                <th style="width:10%">Время подачи</th>
                                <th style="width:20%">Маршрут</th>
                                <th style="width:10%">Марка</th>
                                <th style="width:5%">Гос.номер</th>
                                <th style="width:10%">Водитель</th>
                                <th style="width:10%">Статус</th>
                                <th style="width:5%"></th>
                            </tr>
                            <tr ng-repeat="clrec in header.compositeClaimRecords| orderBy: clrec.record.startDate | filter: searchCompleteClaim" >

                                <td><span title="{{clrec.claim.specialization}}" class="{{plctrl.selectIcon(clrec.claim.specialization)}}"></span></td>
                                <td>{{clrec.claim.vehicleType.typeName}}</td>
                                <td>{{clrec.record.startDate| date:'dd.MM.yyyy'}}</td>
                                <td>{{clrec.record.startDate| date:'HH:mm'}} ({{clrec.record.entranceDate| date:'HH:mm'}}) - {{clrec.record.endDate| date:'HH:mm'}}</td>
                                <td><span class="route-tag" ng-repeat="task in clrec.claim.routeTasks| orderBy: 'orderNum'" title="{{task.workName}}">{{task.place.name}}</span></td>
                                <td>{{clrec.appointment.vehicleModel.modelName}}</td>
                                <td>{{clrec.appointment.vehicle.number}}</td>
                                <td class="td-relative">
                                    <i class="fa fa-lg fa-mobile-alt" ng-show="plctrl.checkPhone(clrec.appointment)"> <span class="phone-info">{{clrec.appointment.driver.phone}}</span></i>
                                    {{plctrl.showDriver(clrec.appointment)}}
                                </td>
                                <td>
                                    <span class="status-info {{plctrl.selectStatusColor(clrec.appointment.status)}}"><i class="{{plctrl.selectStatusIco(clrec.appointment.status)}}" onclick="formOpen('more-status-flag')"></i>{{plctrl.selectStatus(clrec.appointment.status)}}</span>
                                </td>
                                <td>
                                    <i title="Подробнее" class="fas fa-lg fa-ellipsis-h" ng-click="plctrl.moreInfoAppointments(clrec)"></i>
                                    <i class="sign-icon fas fa-signature" ng-show="clrec.record.affirmator !== null" title="{{plctrl.affirmatorToString(clrec.record.affirmator)}}"></i>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>                                                
            </table>
        </div> 
        <div class="assert-block clearfix">
            <button class="btn edit assert" ng-click="plctrl.downloadPlan()"><i class="fa fa-lg fas-download"></i>Скачать План</button>
        </div>
    </div>	
</div>