<div class="tab-list2" id="tab-list2" xmlns:th="http://www.thymeleaf.org">
    <div style="overflow-x:auto;">
        <div class="table-header clearfix">
            <div class="fast-filter clearfix">                                    
                <span class="filter-elem edit {{plctrl.ctoday?'active-color':''}}" ng-click="plctrl.fetchTomorrowCompletePlanRecords()">Завтра</span>
                <span class="filter-elem edit {{plctrl.cweek?'active-color':''}}" ng-click="plctrl.fetchWeekCompletePlanRecords()">За неделю</span>
                <span class="filter-elem edit {{plctrl.call?'active-color':''}}" ng-click="plctrl.fetchAllCompletePlanRecords()">Все</span>
            </div>
            <input type="search" placeholder="Поиск" ng-model="searchCompleteClaim">						  		
            <ul class="plan-info ">
                <li>Cостояние Плана</li>
                <li>Завершено</li>
            </ul>						  		
            <ul class="plan-date" >
                <li>Дата планирования</li>
                <li>22.12.2018
                    <input type="date" name="date-plan" id="compl-date-plan">
                </li>
            </ul>
            <button style="padding:0.5%;font-size: 0.7em; float: right; margin-right:5px;" class="edit btn"  ng-click="plctrl.fetchDateCompletePlanRecords()">Показать</button>		  			                 
        </div>
        <div class="height-wrapper"> 
            <table class="table-record"  id="tbl2" >
                <tr class="header-level">
                    <th style="width: 3%;"></th>
                    <th style="width: 97%;">ЗАЯВКИ ОТ ПОДРАЗДЕЛЕНИЙ</th>
                </tr>
                                        
                <tr style = "cursor: pointer" ng-click="plctrl.rowCompleteClick(header)" class="activeRow" ng-repeat-start="header in plctrl.complHeaders| filter: searchCompleteClaim">
                    <td>
                        <i class="{{header.isVisible !== undefined && header.isVisible?'fas  fa-2x fa-caret-down':'fas  fa-2x fa-caret-right'}}"></i>		
                    </td>
                    <td >{{header.department.fullname}}
                        <span>
                            <i title="Новые заявки" class="far fa-lg fa-envelope message-info"> {{header.compositeClaimRecords.length}}</i>

                        </span>
                        <div class="record-status" >
                            <div title="Обработано"><i class="fas fa-check"></i>23</div>
                            <div title="Не обработано"><i class="fas fa-clock"></i>12</div>
                            <div title="Отменено"><i class="fas fa-ban"></i>3</div>
                        </div>  
                    </td>
                </tr>
                <tr class="hiddenRow" ng-show="header.isVisible !== undefined && header.isVisible" ng-repeat-end>
                    <td colspan="2">
                        <table class=" table-claim">


                            <tr>		  		   		
                                <th style="width:5%">Тип транспорта</th>
                                <th style="width:10%">Вид техники</th>
                                <th style="width:5%">Дата выезда</th>
                                <th style="width:5%">Время подачи</th>
                                <th style="width:20%">Маршрут</th>
                                <th style="width:10%">Марка</th>
                                <th style="width:5%">Гос.номер</th>
                                <th style="width:10%">Водитель</th>
                                <th style="width:10%">Статус</th>
                                <th style="width:10%"></th>
                            </tr>
                            <tr ng-repeat="clrec in header.compositeClaimRecords| filter: searchCompleteClaim | orderBy: clrec.record.startDate">

                                <td><span title="{{clrec.claim.specialization}}" class="{{plctrl.selectIcon(clrec.claim.specialization)}}"></span></td>
                                <td>{{clrec.claim.vehicleType.typeName}}</td>
                                <td>{{clrec.record.startDate| date:'dd.MM.yyyy'}}</td>
                                <td>{{clrec.record.startDate| date:'HH:mm'}} ({{clrec.record.entranceDate| date:'HH:mm'}}) - {{clrec.record.endDate| date:'HH:mm'}}</td>
                                <td><span class="route-tag" ng-repeat="task in clrec.claim.routeTasks| orderBy: 'orderNum'" title="{{task.workName}}">{{task.place.name}}</span></td>
                                <td>{{clrec.appointment.vehicleModel.modelName}}</td>
                                <td>{{clrec.appointment.vehicle.number}}</td>
                                <td class="td-relative">
                                    <i class="fa fa-lg fa-mobile-alt"> <span class="phone-info">{{clrec.appointment.driver.phone}}</span></i>
                                    {{clrec.appointment.driver.firstname}} {{clrec.appointment.driver.name.length[1]}}.{{clrec.appointment.driver.surname.length[1]}}</td>
                                <td>
                                    <span class="status-info {{plctrl.selectStatusColor(clrec.appointments[clrec.appointments.length-1].status)}}"><i class="{{plctrl.selectStatusIco(clrec.appointments[clrec.appointments.length-1].status)}}" onclick="formOpen('more-status-flag')"></i>{{plctrl.selectStatus(clrec.appointments[clrec.appointments.length-1].status)}}</span>
                                </td>
                                <td>
                                    <i title="Подробнее" class="fas fa-lg fa-ellipsis-h" ng-click="plctrl.moreInfoAppointments(clrec)"></i>
                                </td>
                            </tr>


                        </table>


                    </td>
                </tr>

                </td> 
                </tr>	                                                
            </table>
        </div>  
    </div>	
</div>