<div class="menu-new-claim" id="form-add" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times" ng-click="plctrl.resetClaimForm()"></i>
    <form>
        <div class="form-item">

            <label for="department">Подразделение</label>
            <select name="department" ng-options="dep as dep.shortname for dep in plctrl.specDepartments" ng-model="plctrl.specDepartment" ng-change="plctrl.afterSelectDepartment()" required>
                <option value="" disabled selected><--Выберите подразделение--></option>
            </select>

        </div>
        <section class="section-type">

            <div class="form-item clearfix" >

                <div class=" left-block">
                    <label for="type">Тип транспорта</label>
                    <select name="type" ng-model="plctrl.newClaim.specialization" required>
                        <option value="" disabled selected><--Выберите специализацию--></option>
                        <option value="пассажирский">Пассажирский</option>
                        <option value="легковой">Легковой</option>
                        <option value="грузовой">Грузовой</option>
                        <option value="спецтехника">Спецтехника</option>
                    </select>
                </div>

                <div class="right-block" >
                    <label for="criterion">Вид техники</label>
                    <select name="criterion" ng-options="vt as vt.typeName for vt in plctrl.vehicleTypes| filter:plctrl.newClaim.specialization track by vt.id"   ng-model="plctrl.newClaim.vehicleType">
                        <option value="" disabled selected><--Выберите тип--></option>
                    </select>	
                </div>

            </div> 

            <div class="form-item">
                <label for="purpose">Цель</label>
                <textarea name="purpose" rows="10" ng-model="plctrl.newClaim.purpose"></textarea>
            </div>
            <div class="form-item block-route">
                <div class="left-block-route">
                    <label for="carBoss">Старший</label>
                    <select name="carBoss" ng-options="cb as plctrl.carBossToString(cb) for cb in plctrl.carBosses|filter: {department : {id: plctrl.specDepartment.id}} track by cb.firstname" ng-model="plctrl.newClaim.carBoss" required>
                        <option value="" disabled selected>Выберите старшего машины</option>
                    </select>
                </div>
                <div class="right-block-route">
                    <div class="btn edit"  onclick="formOpen('plannerCarBoss')" title="Добавить старшего"><i class="fas fa-lg fa-user" ></i></div> 						 		
                </div>
            </div>
            <div class="form-item block-route">
                <div class="left-block-route">
                    <label for="route">Маршрут</label>
                    <select name="route" ng-options="route.routeTasks as route.name for route in plctrl.routeTemplates track by route.id" ng-model="plctrl.newClaim.routeTasks">
                    </select> 
                </div>
                <div class="right-block-route">
                    <div class="btn edit"  onclick="formOpen('newFormTask')" title="Добавить задачи"><i class="fas fa-lg fa-tasks" ></i></div> 						 		
                </div>
            </div>	
        </section>
        <section>	 
            <div class="form-item clearfix" >
                <div class="form-item-date ">
                    <label for="date-begin">Дата:</label>
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model = "plctrl.onWeek">на неделю
                        <span class="checkmark"></span>
                    </label>

                    <div class="inp-btn clearfix">
                        <input type="date"  name="date-begin" ng-model="plctrl.startDate" id="startDate" required >
                        <span title="Добавить дату" class="fas fa-lg fa-plus-circle flash-class" ng-click = "plctrl.addRec()"></span>
                    </div>							 		
                </div>

                <div class="right-block ">
                    <label for="time-begin">Время подачи</label>
                    <input type="time"  name="time-begin" ng-model="plctrl.newRecord.entranceDate" id="entranceTime" required>


<!--                    <label for="time-begin">Время выезда</label>
                    <input type="time"  name="time-begin" ng-model="plctrl.newRecord.startDate" id="startTime" required>-->

                    <div class="check-hidden">
                        <label for="time-end">Время возвращения</label>
                        <input type="time"  name="time-end" ng-model="plctrl.newRecord.endDate" id="endTime" required>
                    </div>
                    <div class="check-hidden">
                        <label class="custom-checkbox">



                            <input type="checkbox" id="other-day-check" onchange="checkShow('other-day', 'other-day-check')" ng-model="plctrl.newRecord.isOtherDay">другой день
                            <span class="checkmark" title="установить дату возвращения на следующий день"></span>
                        </label>
                        <!--                        <div class="btn edit right-calendar" id="other-day" title="Выбрать дату"><i class="fas fa-lg fa-calendar-alt"></i></div>-->
                    </div>

                </div>
                <div class="left-block-tag">
                    <div class="route-tag {{rec.checked?'active-color':''}}" ng-repeat="rec in plctrl.newClaim.records| orderBy:'startDate'" ng-click="plctrl.checkRecord(rec)">{{rec.startDate| date:'dd.MM.yyyy'}}
                        <span class="fas fa-times" ng-click = "plctrl.removeRec(rec)"></span>
                    </div>
                </div>
            </div> 					

        </section>
        <div class="form-item">
            <button class="btn submit" id="btn-add-edit" ng-click="plctrl.submitClaim()">Добавить</button>
        </div>

    </form>
    <div class="new-claim-task" id="plannerCarBoss" style="width:35%; min-width: 400px;">
        <i class="fas fa-times i-close" onclick="formClose('plannerCarBoss')"></i>



        <div class="form-item" style="margin-top:30px">
            <label for="dsurname">Фамилия</label>
            <input type="text" class="letter-mask" name="dsurname" ng-model="plctrl.carBoss.firstname" title="Только буквы русского алфавита">
        </div>
        <div class="form-item">    
            <label for="dfirstname">Имя</label>
            <input type="text" class="letter-mask" name="dfirstname" ng-model="plctrl.carBoss.name" title="Только буквы русского алфавита">
        </div>
        <div class="form-item">    
            <label for="dsecondname">Отчество</label>
            <input type="text" class="letter-mask" name="dsecondname" ng-model="plctrl.carBoss.surname" title="Только буквы русского алфавита">
        </div>
        <div class="form-item">    
            <label for="number">Должность</label>
            <input type="text" name="number" ng-model="plctrl.carBoss.post">
        </div>
        <div class="form-item">
            <label for="phone">Номер мобильного</label>
            <input type="tel" name="phone" ng-model="plctrl.carBoss.phone">
        </div>  
        <div class="form-item"> 
            <div class="left-block" style="margin-top:10px;">	
                <div ng-show="plctrl.carBoss.id !== null" class="btn delete" ng-click="plctrl.resetCBForm()">Сброс</div>
            </div>

            <div class="right-block" style="margin-top:10px;">	
                <div class="btn edit" ng-click="plctrl.submitCB()"><i class="{{plctrl.carBoss.id===null?'fas fa-plus-circle':'fas fa-edit'}}" style="cursor:pointer;" ></i>{{plctrl.carBoss.id===null?'Добавить':'Изменить'}}</div>
            </div>
        </div>
        <div class="small-height-wrapper">	
            <table class="table-task" >
                <tr>
                    <th>ФИО</th>
                    <th>Должность</th>
<!--                    <th>Номер мобильного</th>-->
                    <th></th>
                </tr>
                <tr ng-repeat="b in plctrl.carBosses| orderBy: 'fullname'|filter: {department : {id: plctrl.specDepartment.id}}">
                    <td>{{b.firstname}} {{b.name[0]}}.{{b.surname[0]}}.</td>
                    <td>{{b.post}}</td>
<!--                    <td>{{b.phone}}</td>-->
                    <td>
                        <span class="fas fa-times" ng-click="plctrl.removeCB(b)"></span>
                        <span class="fas fa-edit" ng-click="plctrl.tryToUpdateCB(b)"></span>
                    </td>	 					
                </tr>	 				
            </table>
        </div>
        <div class="form-item">
            <div class="right-block">	
                <div class="btn edit" onclick="formClose('plannerCarBoss')"><i class="fas fa-save"></i>Сохранить</div>
            </div>    
        </div>
    </div>

    <div class="new-claim-task" id="newFormTask">
        <i class="fas fa-times i-close" onclick="formClose('newFormTask')"></i>
        <div class="form-item">
            <label for="type">Место</label>
            <select name="type" ng-options="p as p.name + (p.address !== null ? ' (' + p.address + ')' : '') for p in plctrl.places| orderBy: 'name'|filter:pFilt track by p.id" ng-model = "plctrl.routeTask.place">
                <option value="" disabled selected><--Выберите место--></option>
            </select>
        </div>	
        <div class="form-item" style="margin-top: 30px;"> 

            <label for="work">Работы</label>
            <textarea name="work" ng-model="plctrl.routeTask.workName"></textarea>

            <div class="left-block" style="margin-top:10px;">	
                <div ng-show="plctrl.routeTask.id !== null" class="btn delete" ng-click="plctrl.resetRTaskForm()">Сброс</div>
            </div>

            <div class="right-block" style="margin-top:10px;">	
                <div class="btn edit" ng-click="plctrl.submitRTask()"><i class="{{plctrl.routeTask.id===null?'fas fa-plus-circle':'fas fa-edit'}}" style="cursor:pointer;" ></i>{{plctrl.routeTask.id===null?'Добавить':'Изменить'}}</div>
            </div>
        </div>
        <div class="small-height-wrapper">	
            <table class="table-task" >
                <tr>
                    <th>Место</th>
                    <th>Задание</th>
                    <th></th>
                </tr>
                <tr ng-repeat="routeTask in plctrl.newClaim.routeTasks| orderBy: 'orderNum'">
                    <td>{{routeTask.place.name}}</td>
                    <td>{{routeTask.workName}}</td>
                    <td>
                        <span class="fas fa-times" ng-click="plctrl.removeRTask(routeTask)"></span>
                        <span class="fas fa-edit" ng-click="plctrl.tryToUpdateRTask(routeTask)"></span>
                    </td>	 					
                </tr>	 				
            </table>
        </div>
        <div class="form-item">
            <div class="right-block">	
                <div class="btn edit" onclick="formClose('newFormTask')"><i class="fas fa-save"></i>Сохранить</div>
            </div>    
        </div>
    </div>
</div>
