<div class="clearfix"  id="tab-list1" xmlns:th="http://www.thymeleaf.org">
    <div class="table-header clearfix">
        <div class="fast-filter clearfix">                                    
            <span class="filter-elem edit {{plctrl.today?'active-color':''}}" ng-click="plctrl.fetchTomorrowPlanRecords()">Завтра</span>
            <span class="filter-elem edit {{plctrl.week?'active-color':''}}" ng-click="plctrl.fetchWeekPlanRecords()">За неделю</span>
            <span class="filter-elem edit {{plctrl.all?'active-color':''}}" ng-click="plctrl.fetchAllPlanRecords()">Все</span>
        </div>
        <input type="search" placeholder="Поиск" ng-model="searchClaim">						  		
        <ul class="plan-info ">
            <li>Cостояние Плана</li>
            <li>Завершено</li>
        </ul>						  		
        <ul class="plan-date" >
            <li>Дата планирования</li>
            <li>
                <input type="date" name="date-plan" id="date-plan">
            </li>
        </ul>
        <button style="padding:0.5%;font-size: 0.7em; float: right; margin-right:5px;" class="edit btn" ng-click="plctrl.fetchDatePlanRecords()">Показать</button>

    </div>	
    <div class="height-wrapper">            
        <table class=" table-plan table-claim" >
            <tr>
                <th>Тип транспорта</th>
                <th>Вид техники</th>
                <th>Дата выезда</th>
                <th>Время выхода</th>
                <th>Маршрут</th>
                <th>Марка</th>
                <th>Гос.номер</th>
                <th>Водитель</th>
                <th>Cтатус</th>
                <th></th>
            </tr>
            <tr ng-repeat="clrec in plctrl.headers| orderBy: clrec.record.startDate">
                <td><span title="{{clrec.claim.specialization}}" class="{{plctrl.selectIcon(clrec.claim.specialization)}}"></span></td>
                <td>{{clrec.claim.vehicleType.typeName}}</td>
                <td>{{clrec.record.startDate| date:'dd.MM.yyyy'}}</td>
                <td>{{clrec.record.startDate| date:'HH:mm'}} ({{clrec.record.entranceDate| date:'HH:mm'}}) - {{clrec.record.endDate| date:'HH:mm'}}</td>
                <td>
                     <span class="route-tag" ng-repeat="task in clrec.claim.routeTasks| orderBy: 'orderNum'" title="{{task.workName}}">{{task.place.name}}</span>
                </td>
                <td>{{clrec.appointment.vehicleModel.modelName}}</td>
                <td>{{clrec.appointment.vehicle.number}}</td>
                <td class="td-relative">
                    <i class="fa fa-lg fa-mobile-alt"> <span class="phone-info">{{clrec.appointment.driver.phone}}</span></i>
                     {{clrec.appointment.driver.firstname}} {{clrec.appointment.driver.name.length[1]}}.{{clrec.appointment.driver.surname.length[1]}}		  					
                </td>
                <td><i title="Изменить Статус" class="fa fa-flag"  onclick="formOpen('formChangeStatus')"></i><span  class="status-info status-ready">Выполняется</span></td>		  				
                <td>
                    <i title="Назначить"class="fas fa-lg fa-code-branch" onclick="formOpen('formAppointment')"></i>
                    <i title="Печать Путевого Листа"class="fa fa-lg fa-print"></i>
                    <i title="Подробнее" class="fas fa-lg fa-ellipsis-h" onclick="formOpen('more-claim')" ></i> 
                </td>
            </tr>
        </table>
    </div>	

    <div class="assert-block clearfix">
        <button class="btn edit assert" onclick="formOpen('beaty')"><i class="fas fa-lg fa-share-square"></i>Отправить План</button>
        <span class="btn edit btn-print"><i class="fa fa-lg fa-print"></i></span>
    </div>
</div>