<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Диспетчерское обеспечение</title>

        <link href="fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/lib/angular.min.js"></script>
        <script src="js/app/app.js"></script>

        <script src="js/app/dispatcherPage/service.js"></script>
        <script src="js/app/dispatcherPage/controller.js"></script>

        <script src="js/app/appointments/service.js"></script>
        <script src="js/app/appointments/controller.js"></script>

        <script src="js/app/vehicles/service.js"></script>
        <script src="js/app/vehicles/controller.js"></script>

        <script src="js/app/drivers/service.js"></script>
        <script src="js/app/drivers/controller.js"></script>

        <script src="js/app/mechanics/service.js"></script>
        <script src="js/app/mechanics/controller.js"></script>

    </head>
    <body ng-app="Transportation" >
        <div class="wrapper">
            <!-- Login Form-->
            <div class="sidebar-vertical" id="sb-v-id">
                <i class="sidenav-btn fas fa-bars" onclick="open_sidenav()"></i>
            </div>
            <form action="#" class="formLogin" id="formLogin">
                <i class="fas fa-times i-close" onclick="formLogin_close()"></i>
                <div class="container">
                    <label for="uname"><b>Логин</b></label>
                    <input type="text" placeholder="Введите Логин" name="uname" required>

                    <label for="psw"><b>Пароль</b></label>
                    <input type="password" placeholder="Введите Пароль" name="psw" required>

                    <button type="submit" class="btn edit"><i class="fas fa-sign-in-alt"></i>Войти</button>
                    <label class="custom-checkbox">Запомнить меня
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="container container-underline" style="">
                    <button type="button" class="btn delete">Отмена</button>
                    <span class="psw">Забыли <a href="#">Пароль?</a></span>
                </div>
            </form >


            <!--Подробнее назначени/заявки----- -->
            <th:block th:include="dispatcher/route_form"></th:block> 

            <div class="main clearfix">
                <div class="header clearfix">
                    <!--Logo -->
                    <div class="logo">
                    </div>
                    <!--Text header -->

                    <h1>Комплекс Автотранспортного Обеспечения</h1>
                    <div ng-controller="DispatcherPageController as ctrl">
                    <h3>{{ctrl.transportDep.fullname}}</h3>
                    <a href="/transportation" class="home" ng-show="ctrl.permit" title="Домой"><i class="fas fa-lg fa-home"></i></a>
                    </div>

                    <!--Navigation -->	
                    <nav class="nav-horizontal">
                        <div class="btn active" id="tab-btn1" onclick="open_tab1('tab-list1', 'tab-btn1', 3)">Назначения</div>
                        <div class="btn" id="tab-btn2" onclick="open_tab1('tab-list2', 'tab-btn2', 3)">Транспорт</div>		
                        <div class="btn" id="tab-btn3" onclick="open_tab1('tab-list3', 'tab-btn3', 3)">Водители</div>	
                        <!--<div class="btn" id="tab-btn4" onclick="open_tab1('tab-list4', 'tab-btn4', 4)">Механики</div>-->	
                        <!--<div class="btn" id="tab-btn5" onclick="open_tab1('tab-list5', 'tab-btn5', 5)">Маршруты</div>-->	
                    </nav>

                    <button class="login btn" onclick="javascript: document.logoutForm.submit()" role="menuitem"><i class="fas fa-sign-out-alt"></i>Выход</button>

                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
                <div ng-controller="DispatcherController as plctrl">
                    <th:block th:include="dispatcher/sidebar"></th:block>
                </div>
                    
                            
                <div id="claim-create" class="tabcontent">

                    <div class="clearfix" style="overflow-x:auto;">
                        <div ng-controller="DispatcherController as plctrl">
                            <!--Sidebar-->
                            <th:block th:include="dispatcher/appointment_form"></th:block>
                            <th:block th:include="dispatcher/appointment_status_form"></th:block> 
                            <th:block th:include="dispatcher/appointments_tab"></th:block> 
                            <th:block th:include="dispatcher/record_info"></th:block>
                        </div>
                        <div ng-controller="VehiclesController as ctrl">
                            <th:block th:include="dispatcher/save_vehicle_form"></th:block> 
                            <th:block th:include="dispatcher/vehicle_status_form"></th:block> 
                            <th:block th:include="dispatcher/vehicle_state_form"></th:block> 
                            <th:block th:include="dispatcher/del_vehicle_confirm_dlg"></th:block> 
                            <th:block th:include="dispatcher/vehicle_info"></th:block> 
                            <th:block th:include="dispatcher/vehicle_history"></th:block> 
                            <th:block th:include="dispatcher/refueling_form"></th:block> 

                            <th:block th:include="dispatcher/vehicles_tab"></th:block> 
                        </div>
                        <div ng-controller="DriversController as ctrl">
                            <th:block th:include="dispatcher/save_driver_form"></th:block> 
                            <th:block th:include="dispatcher/driver_status_form"></th:block> 
                            <th:block th:include="dispatcher/del_driver_confirm_dlg"></th:block> 
                            <th:block th:include="dispatcher/drivers_tab"></th:block> 
                        </div>
                        <div ng-controller="MechanicsController as ctrl">
                            <th:block th:include="dispatcher/save_mechanic_form"></th:block> 
                            <th:block th:include="dispatcher/del_mechanic_confirm_dlg"></th:block>

                            <th:block th:include="dispatcher/mechanics_tab"></th:block>
                        </div>

                        <th:block th:include="dispatcher/routes_tab"></th:block> 
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
