<div class="more-info" id="more-claim" xmlns:th="http://www.thymeleaf.org">
    <div>Дополнительная информация
        <i class="fas fa-times" onclick="formClose('more-claim')"></i>
    </div>
    <fieldset>
        <legend>Параметры</legend>
        <ul>
            <li><label> Дата Выезда<span>22.12.2018</span></label></li>
            <li><label> Дата Возвращения<span>22.12.2018</span></label></li>
            <li><label> Время Выхода<span>07:50</span></label></li>
            <li><label> Время Выезда<span>08:50</span></label></li>
            <li><label> Время Возвращения<span><b>18:00</b></span></label></li>
        </ul>
    </fieldset>
    <fieldset style="min-height: 50px;">
        <legend>Цель</legend>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet explicabo velit earum adipisci, iste quis accusantium, iusto, mollitia eum laborum sit sequi provident harum, aspernatur deserunt. Suscipit, obcaecati, vero!</p>
    </fieldset>
</div>