<form class="formTransport" id="formTransport" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close" ng-click="ctrl.resetForm()"></i>
    <div class="container">
        <div>
            <label for="type">Тип транспорта</label>
            <select name="type" ng-model="ctrl.vehicle.model.vehicleType.specialization">					
                <option value="" disabled selected><--Выберите специализацию--></option>
                <option value="пассажирский">Пассажирский</option>
                <option value="легковой">Легковой</option>
                <option value="грузовой">Грузовой</option>
                <option value="спецтехника">Спецтехника</option>
            </select>
        </div>		
        <div>
            <label for="type-vehicle">Вид техники</label>
            <select name="type-vehicle" ng-options="vt as vt.typeName for vt in ctrl.vehicleTypes| filter:ctrl.vehicle.model.vehicleType.specialization track by vt.id" ng-model="ctrl.vehicle.model.vehicleType">
                <option value="" disabled selected><--Выберите тип--></option>
            </select>
        </div>	
        <div>
            <label for="mark">Модель</label>
            <select name="mark" ng-options="m as m.modelName for m in ctrl.models| filter:ctrl.vehicle.model.vehicleType.typeName track by m.id" ng-model="ctrl.vehicle.model"></select>
        </div>
        <div>
            <label for="number">Гос.Номер</label>
            <input type="text" name="number" placeholder="Введите Гос.Номер" ng-model = "ctrl.vehicle.number">
        </div>
        <div>
            <label for="status">Статус</label>
            <select name="status" ng-model="ctrl.vehicle.status">					
                <option value="" disabled selected><--Выберите статус--></option>                 
                <option value="исправно">исправно</option>
                <option value="неисправно">неисправно</option>
                <option value="неработоспособно">неработоспособно</option>
                <option value="ремонт">ремонт</option>
                <option value="списано">списано</option>
                <option value="другое">другое</option>
            </select>
        </div>	
    </div>
    <div class="container">
        <button type="button" class="btn delete" ng-click="ctrl.resetForm()">Отмена</button>
        <button type="button" class="btn edit" ng-click="ctrl.submit()"><i class="far fa-save"></i>{{ctrl.vehicle.id===null?'Сохранить':'Изменить'}}</button>
    </div>
</form>