<!--Sidebar-->
<div class="sidebar clearfix" id="sidenav-id">
    <div class="thin-strip-header">
        <i class="fas fa-times i-close" onclick="close_sidenav()"></i>
        <i class="fas fa-info-circle"></i>Информация
    </div>
    <ul class="info-bar-block" style="margin-top: 10px;margin-bottom: 20px;">
        <li class="info-bar-item">						
            <div class="info-bar-btn">
                <span>Водители</span>
            </div>
            <div class="info-bar-sub" style="display:block;">
                <ul>
                    <li>
                        <span>
                            <i class="fas fa-walking"></i>Отгул
                        </span>
                        <span>{{sctrl.driversInfo.otgul}}</span>
                    </li>
                    <li>
                        <span>
                            <i class="fas fa-bed"></i>Больничный
                        </span>
                        <span>{{sctrl.driversInfo.bolnyak}}</span>
                    </li>
                    <li>
                        <span>
                            <i class="fas fa-suitcase"></i>Отпуск
                        </span>
                        <span>{{sctrl.driversInfo.otpusk}}</span>
                    </li>
                    <li>
                        <span>Всего</span>
                        <span>{{sctrl.driversInfo.vsego}}</span>
                    </li>								
                </ul>
            </div>						
        </li>
    </ul>
    <ul class="info-bar-block">
        <li class="info-bar-item">						
            <div class="info-bar-btn ">
                <span>Транспорт</span>
                <section class="info-bar-sub-type">
                    <div><i class="fas fa-car" title="Легковой"></i><span>{{sctrl.tdInfo.vehInfo.type2count}}</span></div>
                    <div><i class="fas fa-bus-alt" title="Пассажирский"></i><span>{{sctrl.tdInfo.vehInfo.type1count}}</span></div>
                    <div><i class="fas fa-truck" title="Грузовой"></i><span>{{sctrl.tdInfo.vehInfo.type3count}}</span></div>
                    <div><i class="fas fa-tractor" title="Спецтехника"></i><span>{{sctrl.tdInfo.vehInfo.type4count}}</span></div>
                </section>
            </div>
            <div class="info-bar-sub" style="display:block;">
                <ul>
                    <li ng-repeat="info in sctrl.tdInfo.vehicleModelInfos">
                        <span><i class="{{sctrl.selectSmallIcon(info.specialization)}}"></i>{{info.model}}</span>
                        <span>{{info.count}}</span>
                    </li>

                    <li>
                        <span>Всего</span>
                        <span>{{sctrl.numVehicles}}</span>
                    </li>								
                </ul>
            </div>						
        </li>
    </ul>	

</div>