<div class="more-info" id="more-transport" xmlns:th="http://www.thymeleaf.org">
    <div>Дополнительная информация
        <i class="fas fa-times" ng-click="ctrl.closeInfoForm()"></i>
    </div>
    <fieldset>
        <legend>Параметры</legend>
        <ul>
            <li><label ><b class="fas fa-oil-can"></b>Топливо,л:<span>{{ctrl.vehicle.fuel}}</span></label></li>
            <li><label><b class="fas fa-road"></b> Одометр,км:<span>{{ctrl.vehicle.odometr}}</span></label></li>
            <li><label><b class="fas fa-clock"></b> Моточасы:<span>{{ctrl.vehicle.motohours}}</span></label></li>
            <li><label><b class="fas fa-flag"></b> Статус:<span class="status-info status-ready"><b>{{ctrl.vehicle.status}}</b></span></label></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Виды Топлива</legend>
        <p ng-repeat="f in ctrl.vehicle.fuels">{{f.type}} {{f.mark}}</p>

    </fieldset>
    <fieldset style="min-height: 50px;">
        <legend>Примечание</legend>
        <p>{{ctrl.vehicle.note}}</p>
    </fieldset>
</div>