<form action="#" class="formTransport" id="formCurrentParametr" xmlns:th="http://www.thymeleaf.org">
    <i class="fas fa-times i-close" ng-click="ctrl.closeStateForm()"></i>
    <div class="container">
        <div>
            <label for="fuel">Топливо,литр</label>
            <input type="text" name="fuel" placeholder="Объем Топлива" ng-model="ctrl.vehicleInfo.fuel">	
        </div>	
        <div>
            <label for="odometr">Одометр,км</label>
            <input type="text" name="odometr" placeholder="Показатели Одометра" ng-model="ctrl.vehicleInfo.odometr">
        </div> 
        <div> 	
            <label for="motohour">Моточасы</label>
            <input type="text" name="motohour" placeholder="Введите Моточасы" ng-model="ctrl.vehicleInfo.motohours">
        </div>  	
    </div>
    <div class="container " >
        <button type="button" class="btn delete" ng-click="ctrl.closeStateForm()">Отмена</button>
        <button type="button" class="btn edit" ng-click="ctrl.createVehicleInfo()"><i class="far  fa-save"></i>Сохранить</button>
    </div>
</form>